<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">
        {{isEdit ? 'Edit' : 'Add'}} news category
      </h4>

      <hr class="mb-2">

      <news-category-form
        [formData]="formData"
        [isEdit]="isEdit"
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
      ></news-category-form>
    </div>
  </div>
</div>
