<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="px-2">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

    <bcn-form-group [errorMessages]="formErrors.title">
      <label class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="New category title..."
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.title"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.title">
      <label class="col-sm-2 col-form-label">Priority</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="show_order"
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.title"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.status">
      <label class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10 col-form-label">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              formControlName="status"
              class="form-check-input"
            />
            Active
          </label>
        </div>
  
        <bcn-field-error
          [errorMessages]="formErrors.status"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
  </div>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
