<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!newsCategoriesList || !newsCategoriesList.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let category of newsCategoriesList">
        <td>{{category.id}}</td>
        <td>{{category.title}}</td>
        <td>{{category.show_order}}</td>
        <td>
          <span
            [ngClass]="!!category.status ? 'text-success' : 'text-danger'"
          >
            {{!!category.status ? 'Active' : 'Inactive'}}
          </span>
        </td>
        <td>{{(category.date_added | dateFromUnix) || 'N/A'}}</td>
        <td>
          <div class="btn-group-sm text-right">          
            <a
              [routerLink]="['./', category.id, 'edit']"
              title="Edit" class="btn btn-sm btn-secondary"
            >
              <i class="icon icon-note"></i>
            </a>
  
            <button
              type="button"
              class="btn btn-sm btn-danger"
              title="Delete"
              (click)="handleItemDeleteClick(category.id)"
            >
              <i class="icon icon-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  