<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-list"></i> News Categories
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <a [routerLink]="['add']" class="btn btn-outline-secondary btn-sm">
            <i class="icon-plus"></i> Add
          </a>
        </div>
      </div>
    </div>

    <div class="card-block px-2">
      <news-categories-list
        [newsCategoriesList]="newsCategoriesList.data"
        [isLoading]="isLoading"
        (itemDeleteClick)="handleItemDeleteClick($event)"
      ></news-categories-list>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
