<form name="_form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <header class="modal-header">
    Update member rank
  </header>

  <div class="modal-body">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

    <div
      class="form-group"
      [ngClass]="{ 'has-danger': formErrors.rank.length }"
    >
      <select
        class="form-control"
        formControlName="rank"
      >
        <option [value]="0">No rank</option>
        <option *ngFor="let memberRank of rankList" [value]="memberRank.rank">{{memberRank.rank_label}}</option>
      </select>

      <bcn-field-error [errorMessages]="formErrors.rank"></bcn-field-error>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-left">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid || !form.dirty"
      >Save</button>

      <button
        type="button"
        class="btn btn-link"
        (click)="cancel()"
      >Cancel</button>
    </div>
  </div>
</form>
