.login-ip {
  font-size: 10px;
  color: #AAA;
}
.member-info-block {
  text-align: center;
  .member-info {
    label {
      font-size: 10px;
      text-transform: uppercase;
      color: #888;
      line-height: 12px;
      padding: 0; margin: 0;
    }
    div {
      margin-bottom: 10px;
    }
  }
  .member-social {
    a {
      margin: 0 15px;
      &:hover {text-decoration:  none;}
    }
  }
}

.gpu-pool {
  text-align: center;
  label {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    padding: 0; margin: 0;
  }
  div {
    font-size: 20px;
  }
}
