<form name="_form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <header class="modal-header">
    Edit member username
  </header>

  <div class="modal-body">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

    <div
      class="form-group"
      [ngClass]="{ 'has-danger': formErrors.username.length }"
    >
      <input
        type="text"
        class="form-control"
        formControlName="username"
        autofocus
      />

      <bcn-field-error [errorMessages]="formErrors.username"></bcn-field-error>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-left">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid || !form.dirty"
      >Save</button>

      <button
        type="button"
        class="btn btn-link"
        (click)="cancel()"
      >Cancel</button>
    </div>
  </div>
</form>
