<div class="row">
  <div class="col-lg-3">
    <div class="card card-accent-primary">
      <div class="card-header">
        <div class="dropdown float-right ml-1" ngbDropdown>
          <button
            class="btn btn-sm btn-outline-secondary"
            type="button"
            ngbDropdownToggle
          >
            Actions
          </button>

          <div class="dropdown-menu dropdown-menu-right">
            <button
              id="credit-wallet-button"
              class="dropdown-item"
              type="button"
              (click)="creditWallet()"
            >Credit/Debit a wallet</button>

            <button
              id="edit-rank-button"
              class="dropdown-item"
              type="button"
              (click)="editRank()"
            >Update rank</button>

            <button
              id="edit-username-button"
              class="dropdown-item"
              type="button"
              (click)="editUsername()"
            >Edit username</button>

            <button
              id="edit-email-button"
              class="dropdown-item"
              type="button"
              (click)="editEmail()"
            >Edit email</button>
          </div>
        </div>

        <span class="login-ip" *ngIf="member.login_attempt_ip">IP: {{member.login_attempt_ip}}</span>
        <span class="badge badge-danger float-right">{{member.rank_label}}</span>
      </div>

      <div class="card-block">
        <div class="member-info-block">
          <h2>{{member.fname}} {{member.lname}}</h2>
          <div class="member-info">
            <label>Username</label>
            <div>{{member.username}}</div>
          </div>
          <div class="member-info">
            <label>User ID</label>
            <div>{{member.id}}</div>
          </div>
          <div class="member-info">
            <label>Email</label>
            <div><a href="mailto:{{member.email}}">{{member.email}}</a></div>
          </div>
          <div class="member-info">
            <label>Phone No</label>
            <div>{{member.phone ? member.phone : 'N/A'}}</div>
          </div>
          <div class="member-info member-social">
            <label>Social</label>
            <div>
              <a *ngIf="member.facebook" href="{{member.facebook}}"><i class="icon icon-social-facebook"></i></a>
              <a *ngIf="member.twitter" href="{{member.twitter}}"><i class="icon icon-social-twitter"></i></a>
              <a *ngIf="member.skype" href="{{member.skype}}"><i class="icon icon-social-skype"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <i class="icon icon-layers"></i> Pools
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3 gpu-pool">
            <label>GPU</label>
            <div>{{member.gpu_shares}}</div>
          </div>
          <div class="col-sm-3 gpu-pool">
            <label>Share Mine #1</label>
            <div>{{member.shares_mine1}}</div>
          </div>
          <div class="col-sm-3 gpu-pool">
            <label>Share Mine #2</label>
            <div>{{member.shares_mine2}}</div>
          </div>
          <div class="col-sm-3 gpu-pool">
            <label>Share Mine #3</label>
            <div>{{member.shares_mine3}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card card-accent-info">
      <div class="card-header">
        <strong>Recent</strong> Transactions
      </div>
      <div class="card-block">
        <app-member-transaction
          [transactions]="transactions"
          [currency]="currency"
          [memberId]="member.id"
          [isLoading]="isFetchingTransactions"
          (currencySelect)="handleCurrencySelect($event)"
        ></app-member-transaction>

        <bcn-pagination 
          *ngIf="transactionsPagination.totalItems > transactionsPagination.itemPerPage"
          [maxSize]="5"
          [boundaryLinks]="true"
          [rotate]="true"
          [collectionSize]="transactionsPagination.totalItems"
          [page]="transactionsPagination.currentPage"
          [pageSize]="transactionsPagination.itemPerPage"
          (pageChange)="handleTransactionPageChange($event)"
        ></bcn-pagination>
      </div>
    </div>

    <div class="card card-accent-info">
      <div class="card-header">
        <strong>Recent</strong> Invoice
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-condensed">
            <app-spinner *ngIf="isFetchingInvoices"></app-spinner>
            <thead>
              <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th>Status</th>
                <th>Issue</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="invoices && !invoices.length" class="text-center">
                  <td colspan="100%">No records found.</td>
              </tr>
              <tr *ngFor="let invoice of invoices">
                <td>{{invoice.product_name}}</td>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.paid_by}}</td>
                <td>
                  <span
                    [ngClass]="{
                      'badge-success': invoice.confirmed === 'Confirmed',
                      'badge-warning': invoice.confirmed === 'Pending Confirmation'
                    }" class="badge">{{invoice.confirmed}}</span>
                </td>
                <td>{{invoice.date_made | dateFromUnix}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <bcn-pagination
          *ngIf="invoicesPagination.totalItems > invoicesPagination.itemPerPage"
          [maxSize]="5"
          [boundaryLinks]="true"
          [rotate]="true"
          [collectionSize]="invoicesPagination.totalItems"
          [page]="invoicesPagination.currentPage"
          [pageSize]="invoicesPagination.itemPerPage"
          (pageChange)="handleInvoicePageChange($event)"
        ></bcn-pagination>
      </div>
    </div>
  </div>
</div>
