<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">Editing member</h4>

      <hr class="mb-2">

      <member-form
        [formData]="memberData"
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
        [isEdit]="true"
      ></member-form>
    </div>
  </div>
</div>
