<form name="_form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <header class="modal-header">
    Credit/Debit member wallet balance
  </header>

  <div class="modal-body">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

    <div class="form-group">
      <label class="form-control-label">Operation:</label>

      <div>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: !formData.isDebit, 'btn-info': !formData.isDebit, 'btn-outline-info': formData.isDebit }"
            (click)="setOperationIsDebit(false)"
          >Credit</button>

          <button
            type="button"
            class="btn"
            [ngClass]="{ active: formData.isDebit, 'btn-info': formData.isDebit, 'btn-outline-info': !formData.isDebit }"
            (click)="setOperationIsDebit(true)"
          >Debit</button>
        </div>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{ 'has-danger': formErrors.wallet.length }"
    >
      <label class="form-control-label">Wallet:</label>

      <select
        class="form-control"
        formControlName="wallet"
      >
        <option *ngFor="let wallet of walletList" [value]="wallet.value">{{wallet.label}}</option>
      </select>

      <bcn-field-error [errorMessages]="formErrors.wallet"></bcn-field-error>
    </div>

    <div
      class="form-group"
      [ngClass]="{ 'has-danger': formErrors.amount.length }"
    >
      <label class="form-control-label">Amount:</label>

      <input
        type="text"
        class="form-control"
        formControlName="amount"
        autofocus
      />

      <div class="form-text" *ngIf="!formData.isDebit">
        This amount will be <strong>added</strong> to the member's <strong>{{getSelectedWalletLabel()}}</strong> balance.
      </div>

      <div class="form-text" *ngIf="formData.isDebit">
        This amount will be <strong>subtracted</strong> from the member's <strong>{{getSelectedWalletLabel()}}</strong> balance.
      </div>

      <bcn-field-error [errorMessages]="formErrors.amount"></bcn-field-error>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-left">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid || !form.dirty"
      >Proceed</button>

      <button
        type="button"
        class="btn btn-link"
        (click)="cancel()"
      >Cancel</button>
    </div>
  </div>
</form>
