<div class="animated fadeIn">
    <div class="card">
      <div class="card-block px-2">
        <h4 class="page-heading mb-0">
          {{isEdit ? 'Update' : 'Add New'}} Admin
        </h4>
  
        <hr class="mb-2">

        <admin-form
          [formData]="formData"
          [isEdit]="isEdit"
          (formSuccess)="handleFormSuccess($event)"
          (formCancel)="handleFormCancel()"
        ></admin-form>
      </div>
    </div>
  </div>
  