<div class="animated fadeIn">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="icon icon-info"></i> Info
      </ng-template>
      <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-block px-2">
                  <h4 class="page-heading mb-0">
                    <i class="icon icon-people"></i> <strong>Basic</strong> Info
                  </h4>
            
                  <hr class="mb-2">
                  
                  <div class="row">
                    <div class="col-sm-8">
                      <dl>
                        <dt>Full Name</dt>
                        <dd>{{admin.fname}} {{admin.lname}}</dd>
                        
                        <dt>Username</dt>
                        <dd>{{admin.username}}</dd>
                        
                        <dt>Email</dt>
                        <dd>
                          <a href="mailto:{{admin.email}}">{{admin.email}}</a>
                        </dd>
                      </dl>
                    </div>
        
                    <div class="col-sm-4">
                      <div class="d-flex justify-content-end">
                        <a
                          class="btn btn-sm btn-secondary"
                          [routerLink]="['edit']"
                        >
                          <i class="icon icon-note"></i> Edit
                        </a>
              
                        <button
                          role="button"
                          class="btn btn-sm btn-primary"
                          (click)="handleChangePasswordClick()"
                        >
                          <i class="icon icon-lock"></i> Change Password
                        </button>
                      </div>
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="card">
                <div class="card-block px-2">
                  <h4 class="page-heading mb-0">
                    <i class="icon icon-layers"></i> Manage <strong>Groups</strong>
                  </h4>
            
                  <hr class="mb-2">
        
                  <admin-groups
                    [groupStateUpdating]="groupStateUpdating"
                    [groups]="groups"
                    (groupChange)="handleGroupChange($event)"
                  ></admin-groups>
          
                </div>
              </div>
        
            </div>
          </div>
      </ng-template>
    </ngb-tab>
    
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="icon icon-lock"></i> Permissions
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-md-12">
            <admin-access
              [accessStateUpdating]="accessStateUpdating"
              [accessGroups]="accessGroups"
              (accessStateChange)="handleAccessStateChange($event)"
            ></admin-access>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>