<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="clearfix">
        <h1 class="d-inline-block display-3 mr-4">404</h1>
        <div class="d-inline-block">
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">The page you are looking for was not found.</p>
        </div>
        <div>
          <a class="float-right" (click)="goBack()" href="#">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>