<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-people"></i> Founders Pools
          </h4>
        </div>
        
        <div class="col-sm-6 d-flex justify-content-sm-end">
          <a [routerLink]="['add']" class="btn btn-outline-secondary btn-sm">
            <i class="icon-plus"></i> Add
          </a>

          <button
            type="button"
            class="btn btn-outline-secondary btn-sm ml-1"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>

      </div>
    </div>

    <founders-pools-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="filterChanged($event)"
    ></founders-pools-filter>

    <div class="card-block px-2">
      <div class="table-responsive">
        <table class="table">
          <app-spinner *ngIf="isTableLoading"></app-spinner>
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>BTC Mined</th>
              <th>Founder 1 Pool</th>
              <th>Founder 2 Pool</th>
              <th>Founder 1 Pay</th>
              <th>Founder 2 Pay</th>
              <th>Paid</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!pagination.totalItems" class="text-center">
              <td colspan="100%">No records found.</td>
            </tr>
            <tr class="founders-pools-list-item" *ngFor="let pool of foundersPools">
              <td>{{pool.id}}</td>
              <td>{{pool.date_made | dateFromUnix}}</td>
              <td>{{pool.btc_mined}}</td>
              <td>{{pool.founder1_pool}}</td>
              <td>{{pool.founder2_pool}}</td>
              <td>{{pool.founder1_pay}}</td>
              <td>{{pool.founder2_pay}}</td>
              <td>{{!!pool.paid ? 'Yes' : 'No' }}</td>
              <td>
                <div class="btn-group-sm float-right">
                  <a
                    *ngIf="!pool.paid"
                    [routerLink]="['./', pool.id, 'edit']"
                    title="Edit"
                    class="btn btn-sm btn-secondary"
                  >
                    <i class="icon icon-note"></i>
                  </a>

                  <button
                    *ngIf="!pool.paid"
                    role="button"
                    class="btn btn-sm btn-danger"
                    title="Delete"
                    (click)="handleItemDeleteClick(pool.id)"
                  >
                    <i class="icon icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="pageChanged($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
