<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <div class="form-group">
        <date-input formControlName="date_made_from_filter" placeholder="From date"></date-input>
      </div>

      <div class="form-group">
        <date-input formControlName="date_made_to_filter" placeholder="To date"></date-input>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="paid_filter"
        >
          <option
            *ngFor="let option of paidOptionList"
            [value]="option.value"
          >{{option.label}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="list-filter-actions">
    <button type="submit" class="btn btn-primary"><i class="icon icon-refresh"></i>Refresh list</button>
  </div>
</form>