<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

  <bcn-form-group [errorMessages]="formErrors.btc_mined">
    <label class="col-sm-2 col-form-label">Mined</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Enter amount..."
          formControlName="btc_mined"
        />
        <span class="input-group-addon">BTC</span>
      </div>

      <bcn-field-error [errorMessages]="formErrors.btc_mined"></bcn-field-error>
    </div>
  </bcn-form-group>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Founder One Pool</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [value]="getPoolAndPayInfo().founder1_pool"
          [readonly]="true"
        />
        <span class="input-group-addon">BTC</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Founder Two Pool</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [value]="getPoolAndPayInfo().founder2_pool"
          [readonly]="true"
        />
        <span class="input-group-addon">BTC</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Founder One Pay</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [value]="getPoolAndPayInfo().founder1_pay"
          [readonly]="true"
        />
        <span class="input-group-addon">BTC</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Founder Two Pay</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [value]="getPoolAndPayInfo().founder2_pay"
          [readonly]="true"
        />
        <span class="input-group-addon">BTC</span>
      </div>
    </div>
  </div>

  <bcn-form-group [errorMessages]="formErrors.date_made">
    <label class="col-sm-2 col-form-label">Date Made</label>
    <div class="col-sm-10">
      <date-input
        formControlName="date_made"
        placeholder="Enter the date..."
      ></date-input>

      <bcn-field-error
        [errorMessages]="formErrors.date_made"
      ></bcn-field-error>
    </div>
  </bcn-form-group>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
        Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
