<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">
        {{isEdit ? 'Update' : 'Add'}} Founder Pool Record
      </h4>

      <hr class="mb-2">

      <founders-pools-form
        [formData]="formData"
        [isEdit]="isEdit"
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
      ></founders-pools-form>
    </div>
  </div>
</div>
