<form class="form-horizontal" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="px-2">
    <bcn-form-error
      [errorMessages]="formErrors._form"
    >
    </bcn-form-error>

    <div class="form-group row">
      <label class="col-md-2 form-control-label">Full Name</label>
      <div class="col-md-5" [ngClass]="{ 'has-danger': formErrors.fname.length }">
        <input
          type="text"
          class="form-control"
          formControlName="fname"
          placeholder="First Name"
        />

        <bcn-field-error
          [errorMessages]="formErrors.fname"
        >
        </bcn-field-error>
      </div>
      <div class="col-md-5" [ngClass]="{ 'has-danger': formErrors.lname.length }">
          <input
            type="text"
            class="form-control"
            formControlName="lname"
            placeholder="Last Name"
          />

        <bcn-field-error
          [errorMessages]="formErrors.lname"
        >
        </bcn-field-error>
      </div>
    </div>
    
    <bcn-form-group [errorMessages]="formErrors.username">
      <label class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter Username..."
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.username"
        >
        </bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.email">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Enter Email..."
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.email"
        >
        </bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group *ngIf="!isEdit" [errorMessages]="formErrors.password">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter Password..."
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.password"
        >
        </bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group *ngIf="!isEdit" [errorMessages]="formErrors.password_confirmation">
      <label class="col-sm-2 col-form-label">Confirm Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          formControlName="password_confirmation"
          placeholder="Repeat Password..."
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.password_confirmation"
        >
        </bcn-field-error>
      </div>
    </bcn-form-group>
  </div>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
        Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
