// List filters related styling

.list-filter-actions {
  display: flex;
  align-items: center;

  &:before,
  &:after {
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    background-color: #eee;
  }
  
  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}
