// Generic "no content" placeholder block styles

.no-content {
  padding: 25px 20px;
  text-align: center;
  opacity: 0.8;

  $no-content-icon-size: 80px;
  .no-content__icon {
    width: $no-content-icon-size;
    height: $no-content-icon-size;
    margin: 0 auto 25px;
    font-size: $no-content-icon-size;
    line-height: $no-content-icon-size;
    background: transparent;
    color: #89929c;
    border-radius: 5px;
  }

  .no-content__msg {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    color: #444d58;

    strong {
      color: darken(#444d58, 10%);
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .no-content__note {
    font-size: 14px;
    line-height: 1.2;
    color: #89929c;
  }

  .no-content__options {
    padding-top: 15px;
  }
}
