<div class="card card-accent-primary">
  <div class="card-header">
    <strong>Email</strong> details
  </div>

  <div class="card-block">
    <div class="d-flex">
      <div class="col p-2">
        <h6>SENDER</h6>
        <div>
          <strong>Username:</strong> <a [routerLink]="['../../members', email.memid]">{{email.username}}</a>
        </div>
        <div>
          <strong>User ID:</strong> {{email.memid}}
        </div>
        <div>
          <strong>Email:</strong> <a href="mailto:{{email.email}}">{{email.email}}</a>
        </div>
      </div>
      <div class="col p-2">
        <h6>EMAIL</h6>
        <div>
          <strong>Subject:</strong> {{email.subject}}
        </div>
        <div>
          <strong>Template:</strong> {{email.template}}
        </div>
        <div>
          <strong>From:</strong> <a href="mailto:{{email.from_email}}">{{email.from_email}}</a>
        </div>
        <div>
          <strong>To:</strong> <a href="mailto:{{email.to_email}}">{{email.to_email}}</a>
        </div>
        <div>
          <strong>Created:</strong> {{email.created_on | dateFromUnix}}</div>
        <div>
          <strong>Sent:</strong>
          <span *ngIf="!email.sent_on" class="badge badge-danger">Not sent</span>
          <span *ngIf="email.sent_on">{{email.sent_on | dateFromUnix}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
