<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>Sender</th>
        <th>Template</th>
        <th>From</th>
        <th>To</th>
        <th>Created</th>
        <th>Sent</th>
        <th>Details</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngIf="!emailQueue || !emailQueue.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let email of emailQueue">
        <td>
          <div>{{email.username}}</div>
          <div>User ID: {{email.memid}}</div>
          <div>{{email.email}}</div>
        </td>
        <td>{{email.template}}</td>
        <td>{{email.from_email}}</td>
        <td>{{email.to_email}}</td>
        <td>{{email.created_on | dateFromUnix}}</td>
        <td>
          <span *ngIf="!email.sent_on" class="text-danger">Not sent</span>
          <span *ngIf="email.sent_on">{{email.sent_on | dateFromUnix}}</span>
        </td>
        <td>
          <a [routerLink]="['./', email.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
