<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <p class="text-uppercase">Member</p>
      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="memid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>
    </div>
    
    <div class="col-md">
      <p class="text-uppercase">Email</p>
      <div class="form-group">
        <select
          class="form-control"
          formControlName="template_filter"
        >
          <option
            *ngFor="let templateOption of templateOptionList"
            [value]="templateOption.name"
          >{{templateOption.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="From"
          formControlName="from_email_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="To"
          formControlName="to_email_filter"
        />
      </div>
    </div>
    
    <div class="col-md">
      <p class="text-uppercase">Misc</p>
      <div class="form-group">
        <select
          class="form-control"
          formControlName="sent_filter"
        >
          <option
            *ngFor="let sentOption of sentOptionList"
            [value]="sentOption.value"
          >{{sentOption.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>
      
      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
