<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="px-2">
    <bcn-form-error
      [errorMessages]="formErrors._form"
    >
    </bcn-form-error>
    
    <bcn-form-group [errorMessages]="formErrors.pay_mine1">
      <div class="input-group">
        <span class="input-group-addon">
          Mine 1
        </span>
        <input
          type="number"
          min="{{payAmountMinStep}}"
          step="{{payAmountMinStep}}"
          class="form-control"
          placeholder="Enter amount..."
          formControlName="pay_mine1"
        />
        <span class="input-group-addon text-uppercase">
          {{currency}}
        </span>
      </div>
      
      <bcn-field-error
        [errorMessages]="formErrors.pay_mine1"
      >
      </bcn-field-error>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.pay_mine2">
      <div class="input-group">
        <span class="input-group-addon">
          Mine 2
        </span>
        <input
          type="number"
          min="{{payAmountMinStep}}"
          step="{{payAmountMinStep}}"
          class="form-control"
          placeholder="Enter amount..."
          formControlName="pay_mine2"
        />
        <span class="input-group-addon text-uppercase">
          {{currency}}
        </span>
      </div>
      
      <bcn-field-error
        [errorMessages]="formErrors.pay_mine2"
      >
      </bcn-field-error>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.pay_mine3">
      <div class="input-group">
        <span class="input-group-addon">
          Mine 3
        </span>
        <input
          type="number"
          min="{{payAmountMinStep}}"
          step="{{payAmountMinStep}}"
          class="form-control"
          placeholder="Enter amount..."
          formControlName="pay_mine3"
        />
        <span class="input-group-addon text-uppercase">
          {{currency}}
        </span>
      </div>
      
      <bcn-field-error
        [errorMessages]="formErrors.pay_mine3"
      ></bcn-field-error>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.timestamp">
      <div class="col px-0">
        <date-input
          formControlName="timestamp"
          placeholder="Record timestamp"
        ></date-input>

        <bcn-field-error [errorMessages]="formErrors.timestamp"></bcn-field-error>
      </div>
    </bcn-form-group>
  </div>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
        Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
