<ul class="nav">
    <!-- Dashboard section -->
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
        <i class="icon-speedometer"></i> Dashboard
      </a>
    </li>
  </ul>
  