<nav class="sidebar-nav">
  <div class="m-2" *ngIf="isFetching">
    Loading, please wait...
  </div>

  <div *ngIf="!isFetching">
    <app-sidebar-nav-default-menu *ngIf="isActiveMenu('')"></app-sidebar-nav-default-menu>
    <app-sidebar-nav-support-basic-menu *ngIf="isActiveMenu('basic')"></app-sidebar-nav-support-basic-menu>
    <app-sidebar-nav-support-plus-menu *ngIf="isActiveMenu('plus')"></app-sidebar-nav-support-plus-menu>
    <app-sidebar-nav-support-deluxe-menu *ngIf="isActiveMenu('deluxe')"></app-sidebar-nav-support-deluxe-menu>
    <app-sidebar-nav-support-full-menu *ngIf="isActiveMenu('partially_full')"></app-sidebar-nav-support-full-menu>
    <app-sidebar-nav-full-menu *ngIf="isActiveMenu('full')"></app-sidebar-nav-full-menu>
  </div>
</nav>
