<ul class="nav">
  <!-- Dashboard section -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
      <i class="icon-speedometer"></i> Dashboard
    </a>
  </li>
  
  <!-- Members section -->
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="icon-people"></i> Members
    </a>

    <ul class="nav-dropdown-items">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/members']">View Members</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/founders']">View Founders</a></li>
    </ul>
  </li>
  
  <!-- Invoices section -->
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="icon-docs"></i> Invoices
    </a>

    <ul class="nav-dropdown-items">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/invoices']">View Invoices</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/volumes']">View Volumes</a></li>
    </ul>
  </li>

  <!-- Wallets section -->
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="icon-credit-card"></i> Wallets
    </a>

    <ul class="nav-dropdown-items">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','btc']">Bitcoin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','eth']">ETH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','cc']">CC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','etc']">ETC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','dash']">Dash</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','zec']">ZCash</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','xmr']">XMR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','coinpay']">Coinpay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallets','bch']">BCH</a>
      </li>
    </ul>
  </li>
  
  <!-- Support section -->
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="icon-support"></i> Support
    </a>

    <ul class="nav-dropdown-items">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/support-tickets']">View Tickets</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/predefined-replies']">Manage Predefined Replies</a></li>
    </ul>
  </li>
</ul>
