<ul class="nav">
  <!-- Dashboard section -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
      <i class="icon-speedometer"></i> Dashboard
    </a>
  </li>

  <!-- Support section -->
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="icon-support"></i> Support
    </a>

    <ul class="nav-dropdown-items">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/support-tickets']">View Tickets</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/predefined-replies']">Manage Predefined Replies</a></li>
    </ul>
  </li>
</ul>
