<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <div class="form-group">
        <date-input
          formControlName="filter_date_from"
          placeholder="From date"
        ></date-input>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <date-input
          formControlName="filter_date_to"
          placeholder="To date"
        ></date-input>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="type"
        >
          <option
            *ngFor="let typeOption of typeOptionList"
            [value]="typeOption.value"
          >{{typeOption.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
  