<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>    
    <thead>
      <tr>
        <th>IP</th>
        <th>Date Made</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!loginAttempts || !loginAttempts.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr class="login-attempt-list-item" *ngFor="let loginAttempt of loginAttempts">
        <td>{{loginAttempt.ip}}</td>
        <td>{{loginAttempt.date_made | dateFromUnix}}</td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-success': loginAttempt.success,
              'badge-danger': !loginAttempt.success
            }"
          >
            {{loginAttempt.success ? 'SUCCESS' : 'FAIL'}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
