<ngb-accordion
  [activeIds]="activePanelIds"
  (panelChange)="beforeChange($event)"
  *ngFor="let group of accessGroups"
>
  <ngb-panel id="{{group.name}}" title="{{group.name}}">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="px-2" *ngFor="let subItem of group.data">
          <dt class="pb-1">{{subItem.name}}</dt>
          <dd *ngFor="let item of subItem.data">
            <input
              type="checkbox"
              [checked]="item.enabled"
              (change)="handleAccessStateChange(item)"
              [disabled]="accessStateUpdating"
            >
            {{item.title}}
          </dd>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>