<div *ngFor="let group of groups">
  <input
    type="checkbox"
    [checked]="group.checked"
    (change)="handleGroupChange(group)"
    [disabled]="groupStateUpdating"
  >
  <strong>{{group.name}}</strong> <span>({{group.description}} <i>{{group.is_system && '- System'}}</i>)</span>
</div>
