.row.row-equal {
  padding-right: ($grid-gutter-width-base / 4);
  padding-left:  ($grid-gutter-width-base / 4);
  margin-right: ($grid-gutter-width-base / -2);
  margin-left:  ($grid-gutter-width-base / -2);

  [class*="col-"] {
    padding-right: ($grid-gutter-width-base / 4);
    padding-left:  ($grid-gutter-width-base / 4);
  }
}

.main .container-fluid {
  padding: 0 15px;

  @include media-breakpoint-up(md) {
    padding: 0 30px;
  }
}
