<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <div class=" text-center">
                <h1 class="login-screen-heading">
                  Welcome to <strong>BCN Admin</strong>
                </h1>
                <p class="text-muted">Sign In to your account</p>
              </div>

              <login-form (loginSuccess)="handleLoginSuccess($event)"></login-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
