<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="px-2">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>
    
    <bcn-form-group [errorMessages]="formErrors.name">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Template name"
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.name"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.content">
      <label class="col-sm-2 col-form-label">Content</label>
      <div class="col-sm-10">
        <textarea
          class="form-control"
          formControlName="content"
          placeholder="Add content here...">
        </textarea>
  
        <bcn-field-error
          [errorMessages]="formErrors.content"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.is_public">
      <label class="col-sm-2 col-form-label">Public</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              formControlName="is_public"
              class="form-check-input"
            />
          </label>
        </div>
  
        <bcn-field-error
          [errorMessages]="formErrors.is_public"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
  </div>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
