<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-speech"></i> Predefined Replies
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <a [routerLink]="['add']" class="btn btn-outline-secondary btn-sm">
            <i class="icon-plus"></i> Add
          </a>
        </div>
      </div>
    </div>

    <div class="card-block px-2">
      <predefined-replies-list
        [data]="data"
        [isLoading]="isLoading"
        (itemDeleteClick)="handleItemDeleteClick($event)"
      ></predefined-replies-list>

      <ngb-pagination
        *ngIf="pagination.itemCount > pagination.pageSize"
        class="d-inline-block"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.itemCount"
        [page]="pagination.pageNumber"
        [pageSize]="pagination.pageSize"
        (pageChange)="handlePageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
