<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">
        {{isEdit ? 'Update' : 'Add'}} predefined reply
      </h4>

      <hr class="mb-2">

      <predefined-replies-form
        [formData]="formData"
        [isEdit]="isEdit"
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
      ></predefined-replies-form>
    </div>
  </div>
</div>
