<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th class="list-table-expand-icon-col"></th>
        <th>ID</th>
        <th>Name</th>
        <th>Date Added</th>
        <th>Public</th>
        <th>Member ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!data || !data.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <ng-container *ngFor="let item of data">
        <tr class="expandable-table-row" (click)="toggleItemExpanded(item)">
          <td class="list-table-expand-icon-col">
            <span [ngClass]="isItemExpanded(item) ? 'icon-arrow-down' : 'icon-arrow-right'"></span>
          </td>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date_added | dateFromUnix:'dateOnly'}}</td>
          <td>
            <span *ngIf="item.is_public">Yes</span>
            <span *ngIf="!item.is_public">No</span>
          </td>
          <td>
            <span *ngIf="item.is_public">N/A</span>
            <span *ngIf="!item.is_public">{{item.memid}}</span>
          </td>
          <td>
            <div class="btn-group-sm float-right">
              <button role="button" class="btn btn-sm btn-danger" title="Delete" (click)="handleItemDeleteClick(item.id)">
                <i class="icon icon-trash"></i>
              </button>
              <a [routerLink]="['./', item.id, 'edit']" title="Edit" class="btn btn-sm btn-secondary">
                <i class="icon icon-note"></i>
              </a>
            </div>
          </td>
        </tr>
  
        <tr *ngIf="isItemExpanded(item)">
          <td colspan="100">
            <span>{{item.content}}</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
