<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <bcn-form-error
    [errorMessages]="formErrors._form"
  >
  </bcn-form-error>

  <bcn-form-group [errorMessages]="formErrors.password">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        formControlName="password"
      />

      <bcn-field-error
        [errorMessages]="formErrors.password"
      >
      </bcn-field-error>
    </div>
  </bcn-form-group>

  <bcn-form-group [errorMessages]="formErrors.password_confirmation">
    <label class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
      />

      <bcn-field-error
        [errorMessages]="formErrors.password_confirmation"
      >
      </bcn-field-error>
    </div>
  </bcn-form-group>

  <hr class="mb-2">

  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
        Save changes
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
