<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="icon icon-lock"></i> Change Password
    </ng-template>
    <ng-template ngbTabContent>
      <change-password-form
        (formSuccess)="handleChangePasswordSuccess()"
        (formCancel)="handleChangePasswordCancel()"
      >
      </change-password-form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="icon icon-wrench"></i> 2FA Setup
    </ng-template>
    <ng-template ngbTabContent>
      <tfa-screen
        [tfaData]="tfaData"
      >
      </tfa-screen>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
