<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <bcn-form-error
    [errorMessages]="formErrors._form"
  >
  </bcn-form-error>

  <bcn-form-group [errorMessages]="formErrors.code">
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        formControlName="code"
        placeholder="Verification code"
      />
    
      <bcn-field-error
        [errorMessages]="formErrors.code"
      >
      </bcn-field-error>
    </div>
  </bcn-form-group>

  <hr class="mb-2">

  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      Enable two-step authentication
    </button>
  </div>
</form>
