 <div *ngIf="!tfaData.key" class="row">
  <div class="col-md-12">
    <strong>Activated method:</strong> {{getMethodName(tfaData.tfa_method)}}
    <p>
      In order to set-up a new two-step authentication method, enter Your password and verification
      code to remove the current method and then follow the instructions to add a new one.
    </p>
    <tfa-remove-form
      (onFormSubmit)="remove($event)"
    >
    </tfa-remove-form>
  </div>
</div>

<div *ngIf="tfaData.key" class="row">
  <div class="col-md-12">
    <p>You need to scan this QR code with your verification application.</p>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 text-center">
    <img [src]=tfaData.qr_url alt="QR Code" />
  </div>
  <div class="col-xl-9 col-lg-8 col-md-6 col-xs-12">
    <strong>Can't scan the code?</strong>
    <p>Use the following key to add the code to your application manually.</p>
    <p>
      <strong>Key:</strong> {{tfaData.key}}
    </p>
    <strong>Enter the resulting verification code:</strong>
    <tfa-enable-form
      (onFormSubmit)="enable($event)"
    >
    </tfa-enable-form>
  </div>
</div>