<div
  *ngIf="errorMessage"
  class="alert alert-danger text-center">
  {{errorMessage}}
</div>

<div *ngIf="!tfaData.id">
  <tfa-initialization
    (tfaInitialized)="handleTfaInitialized($event)"
  >
  </tfa-initialization>
</div>

<div *ngIf="tfaData.id">
  <tfa-setup
    [tfaData]="tfaData"
    (enableTfa)="handleEnableTfa($event)"
    (removeTfa)="handleRemoveTfa($event)"
  >
  </tfa-setup>
</div>