<div class="row">
  <div class="col-md-2">
    <select
      name="select"
      class="form-control input-lg"
      size="1"
      [(ngModel)]="selectedTfaMethod"
    >
      <option *ngFor="let method of tfaMethods" [ngValue]="method.key">
        {{method.name}}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-2 mt-1">
    <button
      role="button"
      type="button"
      class="btn btn-block btn-primary"
      (click)="initializeTfaSetup()"
    >
      Enable two-step authentication
    </button>
  </div>
</div>