<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <bcn-form-error
    [errorMessages]="formErrors._form"
  >
  </bcn-form-error>

  <bcn-form-group [errorMessages]="formErrors.password">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        formControlName="password"
      />
    
      <bcn-field-error
        [errorMessages]="formErrors.code"
      >
      </bcn-field-error>
    </div>
  </bcn-form-group>

  <bcn-form-group [errorMessages]="formErrors.code">
    <label class="col-sm-2 col-form-label">Verification Code</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        formControlName="code"
        placeholder="Verification code"
      />
    
      <bcn-field-error
        [errorMessages]="formErrors.code"
      >
      </bcn-field-error>
    </div>
  </bcn-form-group>

  <hr class="mb-2">

  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-danger"
      [disabled]="!form.valid || !form.dirty"
    >
      Remove two-step authentication
    </button>
  </div>
</form>
