.list-table-expand-icon-col {
  width: 40px;
}

td.list-table-expand-icon-col {
  cursor: pointer;
}

// TODO: Make generic and move to a generic stylesheet instead
.expandable-table-row {
  cursor: pointer;
}
