<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th class="list-table-expand-icon-col"></th>
        <th>Invoice ID</th>
        <th>Receiver</th>
        <th>Credits</th>
        <th>Side</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngIf="!items || !items.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <ng-container *ngFor="let item of items">
        <tr class="expandable-table-row" (click)="toggleItemExpanded(item)">
          <td class="list-table-expand-icon-col">
            <span [ngClass]="isItemExpanded(item) ? 'icon-arrow-down' : 'icon-arrow-right'"></span>
          </td>
          <td>{{item.invoice_id}}</td>
          <td>{{item.receiver_username}}<div>User ID: {{item.receiver_id}}</div></td>
          <td>{{item.credits}}</td>
          <td>{{item.side}}</td>
          <td>{{item.timestmp | dateFromUnix:'dateOnly'}}</td>
        </tr>
  
        <tr *ngIf="isItemExpanded(item)">
          <td colspan="100">
            <div class="row">
              <div class="col-md-3">
                <div>
                  <span>ID: </span>
                  <strong>{{item.id}}</strong>
                </div>
                <div>
                  <span>Invoice ID: </span>
                  <strong>{{item.invoice_id}}</strong>
                </div>
                <div>
                  <span>Credits: </span>
                  <strong>{{item.credits}}</strong>
                </div>
                <div>
                  <span>Side: </span>
                  <strong>{{item.side}}</strong>
                </div>
                <div>
                  <span>Date Made: </span>
                  <strong>{{item.timestmp | dateFromUnix:'dateOnly'}}</strong>
                </div>
              </div>
  
              <div class="col-md-3">
                <div>
                  <span>Receiver ID: </span>
                  <strong>{{item.receiver_id}}</strong>
                </div>
                <div>
                  <span>Receiver Username: </span>
                  <strong>{{item.receiver_username}}</strong>
                </div>
                <div>
                  <span>Receiver Name: </span>
                  <strong>{{(item.receiver_fname + ' ' + item.receiver_lname).trim()}}</strong>
                </div>
                <div>
                  <span>Receiver Email: </span>
                  <strong>{{item.receiver_email}}</strong>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
