<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <p class="text-uppercase">Receiver</p>
      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="receiver_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="receiver_username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="receiver_email_filter"
        />
      </div>
    </div>

    <div class="col-md">
      <p class="text-uppercase">Misc</p>
      <div class="form-group">
        <number-input
          placeholder="Invoice ID"
          formControlName="invoice_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="side_filter"
        >
          <option
            *ngFor="let sideOption of sideOptionList"
            [value]="sideOption.value"
          >{{sideOption.label}}</option>
        </select>
      </div>
    </div>

    <div class="col-md">
      <p class="text-uppercase">Period</p>
      <div class="form-group">
        <date-input
        formControlName="date_from_filter"
        placeholder="From date"
        ></date-input>
      </div>
      
      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>
  
  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
