<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">Add Unsubscriber</h4>

      <hr class="mb-2">

      <unsubscriber-form
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
      ></unsubscriber-form>
    </div>
  </div>
</div>
