<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>Email</th>
        <th>IP</th>
        <th>Date made</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.email}}</td>
        <td>{{item.ip}}</td>
        <td>{{item.date_made | dateFromUnix}}</td>
        <td>
          <div class="d-flex justify-content-end">
            <div class="btn-group-sm">
              <button
                class="btn btn-sm btn-danger"
                (click)="handleItemDeleteClick(item.id)"
              ><i class="icon-trash"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
