<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm-6 col-md">
      <p class="text-uppercase">Member</p>
      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="memid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>
    </div>
    
    <div class="col-sm-6 col-md">
      <p class="text-uppercase">Period</p>
      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>
      
      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
    
    <div class="col-sm-6 col-md">
      <p class="text-uppercase">Misc</p>

      <div class="form-group">
        <number-input
          placeholder="Invoice ID"
          formControlName="invoice_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Option"
          formControlName="option_filter"
        />
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="product_filter"
        >
          <option
            *ngFor="let productOption of productOptionList"
            [value]="productOption.value"
          >{{productOption.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="paid_filter"
        >
          <option
            *ngFor="let paidOption of paidOptionList"
            [value]="paidOption.value"
          >{{paidOption.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="confirmed_filter"
        >
          <option
            *ngFor="let confirmedOption of confirmedOptionList"
            [value]="confirmedOption.value"
          >{{confirmedOption.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
