<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>    
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Product</th>
        <th>Paid By</th>
        <th>Username</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Issued</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!invoices || !invoices.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let invoice of invoices">
        <td>
          <a [routerLink]="['./', invoice.id]">{{invoice.id}}</a>
        </td>
        <td>
          <strong>{{invoice.product_name}}</strong>
          <div>
            <small class="text-muted">{{invoice.product_description}}</small>
          </div>
        </td>
        <td>
          <div *ngIf="!invoice.pay_memid">{{invoice.paid_by}}</div>
          <div *ngIf="invoice.pay_memid">
            <div><a [routerLink]="['../members', invoice.memid]">{{invoice.paid_by}}</a></div>
            <div>User ID: {{invoice.pay_memid}}</div>
          </div>
        </td>
        <td>
          <a [routerLink]="['../members', invoice.memid]">{{invoice.username}}</a>
          <div>User ID: {{invoice.memid}}</div>
        </td>
        <td>
          <strong>{{invoice.amount}}</strong>
          <div>
            <span class="text-muted">${{invoice.amount_value | number:'.2-2'}}</span>
          </div>
        </td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-success': invoice.confirmed === 'Confirmed',
              'badge-warning': invoice.confirmed === 'Pending Confirmation'
            }"
          >
            {{invoice.confirmed}}
          </span>
        </td>
        <td>{{invoice.date_made | dateFromUnix}}</td>
        <td>
          <div class="d-flex justify-content-end">
            <div class="btn-group-sm">
              <a
                [routerLink]="['./', invoice.id]"
                class="btn btn-sm btn-primary"
                title="View invoice details"
              >
                <i class="icon-eye"></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
