<div class="row">
  <div class="col-lg-12">
    <div
      class="card"
      [ngClass]="{
        'card-accent-success': invoice.confirmed === 'Confirmed',
        'card-accent-warning': invoice.confirmed === 'Pending Confirmation'
      }"
    >
      <div class="card-block">
        <div class="mb-2">
          <h3 class="d-inline-block">Invoice</h3>
          <button
            *ngIf="!isPdfAvailable() && !isPdfPending()"
            type="button"
            class="btn btn-outline-secondary float-right"
            (click)="requestPdf()"
            >
            <i class="fa fa-file-pdf-o"></i> Request PDF
          </button>

          <button
            *ngIf="isPdfPending() && !isPdfAvailable()"
            type="button"
            class="btn btn-outline-secondary float-right"
            disabled
          >
            <i class="fa fa-file-pdf-o"></i> PDF is being prepared...
          </button>

          <button
            *ngIf="isPdfAvailable()"
            type="button"
            class="btn btn-outline-secondary float-right"
            (click)="downloadPdf()"
          >
            <i class="fa fa-file-pdf-o"></i> Download PDF
          </button>

          <button
            *ngIf="!isConfirmButtonHidden()"
            type="button"
            class="btn btn-outline-secondary float-right mr-1"
            (click)="confirmInvoice()"
          >
            <i class="fa fa-check"></i> Mark as Confirmed
          </button>

        </div>
        <div class="row">
          <div class="col-lg-4">
            <strong>Benefiting Member:</strong>
            <div>{{member.fname}} {{member.lname}}</div>
            <div><a [routerLink]="['../../members', member.id]">{{member.username}}</a></div>
            <div>User ID: {{invoice.memid}}</div>
            <div><a href="mailto:{{member.email}}">{{member.email}}</a></div>
          </div>
          <div class="col-lg-4">
            <strong>Invoice Info:</strong>
            <h3>{{invoice.amount}} BTC</h3>
            <div>
              <span class="mr-2">${{invoice.amount_value | number:'.2-2'}}</span>
              <i>1BTC = {{invoice.btc_usd_value}} USD</i>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <strong class="mr-1">Issued</strong>
              <span>{{invoice.date_made | dateFromUnix}}</span>
            </div>
            <div>
              <strong class="mr-1">Status</strong>
              <span
                class="badge"
                [ngClass]="{
                  'badge-success': invoice.confirmed === 'Confirmed',
                  'badge-warning': invoice.confirmed === 'Pending Confirmation'
                }"
              >
                {{invoice.confirmed}}
              </span>
            </div>
            <div>
              <strong class="mr-1">Paid By</strong>
              <span>{{invoice.paid_by}} (User ID: {{invoice.pay_memid}})</span>
            </div>
          </div>
        </div>
        <!-- Consider adding a live timer ticking in the middle of the invoice. -->
        <!-- <div *ngIf="invoice.time_left" class="text-center">
          <hr>
          <h6 class="mt-3">Time Left</h6>
          <h1 class="mb-3">{{invoice.time_left | dateFromUnix}}</h1>
          <hr>
        </div> -->
        <div class="row mt-3">
          <div class="col-lg-3">
            <p><strong>Product</strong></p>
            <div>{{invoice.product_name}}</div>
            <small class="text-muted">{{invoice.product_recurring_label}}</small>
          </div>
          <div class="col-lg-3">
            <p><strong>Description</strong></p>
            <div>{{invoice.product_description}}</div>
          </div>
          <div class="col-lg-2">
            <p><strong>Option</strong></p>
            <!-- Map value to the existing option string. -->
            <!-- <p>{{invoice.prod_option}}</p> -->
          </div>
          <div class="col-lg-2">
            <p><strong>Price</strong></p>
            <div *ngIf="invoice.product_price !== null">${{invoice.product_price | number:'.2-2'}}</div>
          </div>
          <div class="col-lg-2">
            <p><strong>Fee</strong></p>
            <div *ngIf="invoice.product_fee !== null">${{invoice.product_fee | number:'.2-2'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card card-accent-info">
      <div class="card-header">
        <strong>Volumes</strong>
      </div>
      <div class="card-block">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Volume</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!volumes || !volumes.total_results" class="text-center">
              <td colspan="100%">No records found.</td>
          </tr>
          <tr *ngFor="let volume of volumes.data">
            <td>
              <div>{{volume.fname}} {{volume.lname}}</div>
              <small class="text-muted">({{volume.username}})</small>
            </td>
            <td>
              <div>{{volume.from_member_fname}} {{volume.from_member_lname}}</div>
              <small class="text-muted">({{volume.from_member_username}})</small>
            </td>
            <td>
              {{volume.volume}}
            </td>
            <td>
              {{volume.date_added | dateFromUnix}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-accent-info">
      <div class="card-header">
        <strong>Flow</strong>
      </div>
      <div class="card-block">
         <table class="table table-condensed">
          <thead>
          <tr>
            <th>Receiver</th>
            <th>Credits</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!flowList || !flowList.total_results" class="text-center">
              <td colspan="100%">No records found.</td>
          </tr>
          <tr *ngFor="let item of flowList.data">
            <td>
              <div>{{item.receiver_fname}} {{item.receiver_lname}}</div>
              <small class="text-muted">({{item.receiver_username}})</small>
            </td>
            <td>{{item.credits}}</td>
            <td>{{item.timestmp | dateFromUnix}}</td>
          </tr>
          </tbody>
        </table> 
      </div>
    </div>
  </div>
</div>