<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="px-2">
    <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>

    <bcn-form-group [errorMessages]="formErrors.categ_id">
      <label class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select
          class="form-control"
          formControlName="categ_id"
        >
          <option [ngValue]="null">-- Select item --</option>
          <option
            *ngFor="let categoryOption of categoryOptionList"
            [value]="categoryOption.id"
          >{{categoryOption.title}}</option>
        </select>

        <bcn-field-error
          [errorMessages]="formErrors.categ_id"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.title">
      <label class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="News post title"
        />
  
        <bcn-field-error
          [errorMessages]="formErrors.title"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
    
    <bcn-form-group [errorMessages]="formErrors.content">
      <label class="col-sm-2 col-form-label">Content</label>
      <div class="col-sm-10">
        <textarea
          class="form-control"
          formControlName="content"
          placeholder="Content...">
        </textarea>
  
        <bcn-field-error
          [errorMessages]="formErrors.content"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.valid_from">
      <label class="col-sm-2 col-form-label">Valid from</label>
      <div class="col-sm-10">
        <date-input
          formControlName="valid_from"
          placeholder="Valid from"
        ></date-input>
  
        <bcn-field-error
          [errorMessages]="formErrors.valid_from"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.valid_until">
      <label class="col-sm-2 col-form-label">Valid until</label>
      <div class="col-sm-10">
        <date-input
          formControlName="valid_until"
          placeholder="Valid until"
        ></date-input>
  
        <bcn-field-error
          [errorMessages]="formErrors.valid_until"
        ></bcn-field-error>
      </div>
    </bcn-form-group>

    <bcn-form-group [errorMessages]="formErrors.status">
      <label class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10">
        <select
          class="form-control"
          formControlName="status"
        >
          <option [value]="0">Inactive</option>
          <option [value]="1">Active</option>
        </select>
  
        <bcn-field-error
          [errorMessages]="formErrors.status"
        ></bcn-field-error>
      </div>
    </bcn-form-group>
  </div>
  
  <hr class="mb-2">
  
  <div class="form-actions">
    <button
      role="button"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || !form.dirty"
    >
      Save
    </button>

    <button
      role="button"
      type="button"
      class="btn btn-link"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
