<div class="animated fadeIn">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <div 
        class="card"
        [ngClass]="{
          'card-accent-success': item.status === 1,
          'card-accent-danger': item.status === 0
        }"
      >
        <div class="card-header text-center">
          <h2>
            {{item.title}}
          </h2>
          
          <div class="text-muted text-small">
            {{(item.valid_from || item.date_added) | dateFromUnix:'dateOnly'}} - {{item.valid_until | dateFromUnix:'dateOnly'}}
          </div>
        </div>

        <div class="card-block">
          <span class="text-justify">
            {{item.content}}
          </span>
        </div>

        <div class="card-footer">
          <div class="text-right text-muted">
            <div><i>Created on {{item.date_added | dateFromUnix:'dateOnly'}}</i></div>
            <div *ngIf="item.date_modified"><i>(Modified on {{item.date_modified | dateFromUnix:'dateOnly'}})</i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
