<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <p class="text-uppercase">Valid From</p>
      <div class="form-group">
        <date-input
          formControlName="valid_from_from"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="valid_from_to"
          placeholder="To date"
        ></date-input>
      </div>
    </div>

    <div class="col-md">
      <p class="text-uppercase">Valid Until</p>
      <div class="form-group">
        <date-input
          formControlName="valid_until_from"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="valid_until_to"
          placeholder="To date"
        ></date-input>
      </div>
    </div>

    <div class="col-md">
      <p class="text-uppercase">Misc</p>
      <div class="form-group">
        <select
            class="form-control"
            formControlName="status"
        >
          <option [value]="0">Inactive</option>
          <option [value]="1">Active</option>
          <option [ngValue]="null">Status: All</option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="category_id"
        >
          <option [ngValue]="null">Category: All</option>
          <option
            *ngFor="let categoryOption of categoryOptionList"
            [value]="categoryOption.id"
          >{{categoryOption.title}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
