<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-book-open"></i> News
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <a [routerLink]="['add']" class="btn btn-outline-secondary btn-sm">
            <i class="icon-plus"></i> Add
          </a>

          <button
            type="button"
            class="btn btn-outline-secondary btn-sm ml-1"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>
      </div>
    </div>
    
    <news-list-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="handleFilterChange($event)"
    ></news-list-filter>

    <div class="card-block px-2">
      <news-list
        [data]="data"
        [isLoading]="isLoading"
        (itemDeleteClick)="handleItemDeleteClick($event)"
      ></news-list>

      <bcn-pagination
        *ngIf="pagination.itemCount > pagination.pageSize"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.itemCount"
        [page]="pagination.pageNumber"
        [pageSize]="pagination.pageSize"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
