<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Title</th>
        <th>Title</th>
        <th>Valid Period</th>
        <th>Date Modified</th>
        <th>Date Created</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!data || !data.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr class="news-list-item" *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.categ_title}}</td>
        <td>{{item.title}}</td>
        <td>{{(item.valid_from || item.date_added) | dateFromUnix:'dateOnly'}} - {{item.valid_until | dateFromUnix:'dateOnly'}}</td>
        <td>{{item.date_modified | dateFromUnix:'dateOnly'}}</td>
        <td>{{item.date_added | dateFromUnix:'dateOnly'}}</td>
        <td>
          <span *ngIf="item.status === 1">Active</span>
          <span *ngIf="item.status === 0">Inactive</span>
        </td>
        <td>
          <div class="btn-group-sm float-right">
            <button role="button" class="btn btn-sm btn-danger" title="Delete" (click)="handleItemDeleteClick(item.id)">
              <i class="icon icon-trash"></i>
            </button>
            <a [routerLink]="['./', item.id, 'edit']" title="Edit" class="btn btn-sm btn-secondary">
              <i class="icon icon-note"></i>
            </a>
            <a [routerLink]="['./', item.id]" title="Details" class="btn btn-sm btn-primary">
              <i class="icon icon-magnifier"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
