<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date/Time</th>
        <th>Script Start Time</th>
        <th>Script End Time</th>
        <th>Script</th>
        <th>Parameters</th>
        <th>Server</th>
        <th>Execution Time</th>
        <th>Memory Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!crons || !crons.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let cronLog of crons">
        <td>{{cronLog.id}}</td>
        <td>{{cronLog.timestmp | dateFromUnix}}</td>
        <td>{{(cronLog.script_start_time | dateFromUnix) || 'N/A'}}</td>
        <td>{{(cronLog.script_end_time | dateFromUnix) || 'N/A'}}</td>
        <td>{{cronLog.script_name}}</td>
        <td>{{cronLog.script_parameters}}</td>
        <td>{{cronLog.script_server}}</td>
        <td>{{cronLog.execution_time}}</td>
        <td>{{cronLog.memory_usage}}</td>
      </tr>
    </tbody>
  </table>
</div>
  