<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <p class="text-uppercase">Script</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Filter by script name..."
          formControlName="script_name_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Filter by script server..."
          formControlName="script_server_filter"
        />
      </div>

      <div class="form-group">
        <date-input
          formControlName="script_start_time_start_filter"
          placeholder="Start Date from"
        ></date-input>
      </div>
      
      <div class="form-group">
        <date-input
          formControlName="script_start_time_end_filter"
          placeholder="Start Date to"
        ></date-input>
      </div>
    </div>

    
    <div class="col-md">
      <p class="text-uppercase">Execution Time</p>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="execution_time_start_filter"
        >
          <option [ngValue]="0">Any (default)</option>
          <option
            *ngFor="let startTimeOption of executionStartTimeOptionList"
            [value]="startTimeOption.value"
          >{{startTimeOption.label}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="execution_time_end_filter"
        >
          <option [ngValue]="60000">Any (default)</option>
          <option
            *ngFor="let endTimeOption of executionEndTimeOptionList"
            [value]="endTimeOption.value"
          >{{endTimeOption.label}}</option>
        </select>
      </div>
    </div>

    <div class="col-md">
      <p class="text-uppercase">Period</p>
      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>
  
  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
