<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm-6 col-md">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          formControlName="fname_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          formControlName="lname_filter"
        />
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Sponsor username"
          formControlName="sponsor_username_filter"
        />
      </div>

      <div class="form-group">
        <number-input
          placeholder="Sponsor ID"
          formControlName="sponsor_id_filter"
        ></number-input>
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="verified_filter"
        >
          <option
            *ngFor="let verifiedOption of verifiedOptionList"
            [value]="verifiedOption.value"
          >{{verifiedOption.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="rank_filter"
        >
          <option value="null">Any rank</option>
          <option
            *ngFor="let rankOption of rankList"
            [value]="rankOption.rank"
          >{{rankOption.rank_label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
