<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Name</th>
        <th>Registered</th>
        <th>Verified</th>
        <!-- <th></th> -->
      </tr>
    </thead>
  
    <tbody>
      <tr class="member-list-item" *ngFor="let member of members">
        <td>
          <a [routerLink]="['../members', member.id]">{{member.username}}</a>
          <div>User ID: {{member.id}}</div>
        </td>
        <td>{{member.email}}</td>
        <td>{{member.fname}} {{member.lname}}</td>
        <td>{{member.reg_date | dateFromUnix:'dateOnly'}}</td>
        <td class="verified-col">
          <span class="icon-check" *ngIf="member.verified"></span>
          <span *ngIf="!member.verified">No</span>
        </td>
        <!-- <td>
          <div class="d-flex justify-content-end">
            <div class="btn-group-sm">
              <a [routerLink]="['edit', member.id]" class="btn btn-sm btn-primary"><i class="icon-pencil"></i></a>
              <button class="btn btn-sm btn-danger" (click)="handleDeleteClick(member.id)"><i class="icon-trash"></i></button>
            </div>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
