<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-people"></i> Members
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <!--<a [routerLink]="['add']" class="btn btn-outline-secondary btn-sm">-->
            <!--<i class="icon-plus"></i> Add-->
          <!--</a>-->

          <button
            type="button"
            class="filter-toggle-btn btn btn-outline-secondary btn-sm"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>
      </div>
    </div>

    <member-list-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="handleFilterChange($event)"
    ></member-list-filter>

    <div class="card-block px-2">
      <member-list
        *ngIf="members && members.data"
        [members]="members.data"
        [isLoading]="isTableLoading"
      ></member-list>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
