<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <p class="text-uppercase">To</p>
      <div class="form-group">
        <number-input
          placeholder="Member ID"
          formControlName="memid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>
    </div>
    
    <div class="col-md">
      <p class="text-uppercase">From</p>
      <div class="form-group">
        <number-input
          placeholder="Member ID"
          formControlName="from_memid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="from_member_username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="from_member_email_filter"
        />
      </div>
    </div>
    
    <div class="col-md">
      <p class="text-uppercase">Misc</p>
      <div class="form-group">
        <number-input
          placeholder="Invoice ID"
          formControlName="from_invoiceid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
