<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Invoice ID</th>
        <th>Volume</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngIf="!volumes || !volumes.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let volume of volumes">
        <td>
          <div>{{volume.fname}} {{volume.lname}}</div>
          <small class="text-muted">({{volume.username}})</small>
          <small><a href="mailto:{{volume.email}}">{{volume.email}}</a></small>
          <div><small>User ID: {{volume.memid}}</small></div>
        </td>
        <td>
          <div>{{volume.from_member_fname}} {{volume.from_member_lname}}</div>
          <small class="text-muted">({{volume.from_member_username}})</small>
          <small>
            <a href="mailto:{{volume.from_member_email}}">{{volume.from_member_email}}</a>
          </small>
          <div><small>User ID: {{volume.from_memid}}</small></div>
        </td>
        <td>
          <span *ngIf="volume.from_invoiceid">
            <a [routerLink]="['/invoices', volume.from_invoiceid]">{{volume.from_invoiceid}}</a>
          </span>
          <span *ngIf="!volume.from_invoiceid">N/A</span>
        </td>
        <td>{{volume.volume}}</td>
        <td>{{volume.date_added | dateFromUnix:'dateOnly'}}</td>
      </tr>
    </tbody>
  </table>
</div>
