<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <div class="form-group text-uppercase">Ticket</div>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="subject"
        >
          <option
            *ngFor="let subjectOption of subjectOptionList"
            [value]="subjectOption.id"
          >{{subjectOption.title}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="status"
        >
          <option [value]="'open_user'">Requires Attention</option>
          <option [value]="'open_admin'">Answered</option>
          <option [value]="'closed'">Closed</option>
          <option [ngValue]="null">All</option>
        </select>
      </div>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="state"
        >
          <option [ngValue]="null">Last replied: Any</option>
          <option [value]="'user'">User</option>
          <option [value]="'admin'">Admin</option>
        </select>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="assigned_to"
        >
          <option [value]="'me_or_unassigned'">Assigned to me or Unassigned</option>
          <option [value]="'me'">Assigned to me</option>
          <option [value]="'unassigned'">Unassigned</option>
          <option [ngValue]="null">All</option>
        </select>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group text-uppercase">Member</div>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username"
        />
      </div>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      
      <div class="form-group">
        <number-input
          placeholder="Search by member ID"
          formControlName="memid"
        ></number-input>
      </div>
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="rank"
        >
          <option value="null">Any rank</option>
          <option
            *ngFor="let rankOption of rankList"
            [value]="rankOption.rank"
          >{{rankOption.rank_label}}</option>
        </select>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group text-uppercase">Dates</div>

      <div class="form-group">
        <date-input
          formControlName="date_start"
          placeholder="Start date"
        ></date-input>
      </div>

      <div class="form-group">
        
        <date-input
          formControlName="date_end"
          placeholder="End date"
        ></date-input>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
