.ticket-input {
  margin-top: 30px;
  
  textarea {
    border: 1px solid #E3E8EC;
  }

  .input-group-btn {
    display: initial;
    margin-left: 10px;
  
  }
}

.ticket-reply {
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  overflow-x: auto;

  &.admin-reply {
    background: #00aced;
    color: white;
    
    // @include media-breakpoint-up(sm) {
    @media (min-width: 480px) {
      margin-right: 40px;
    }
    
    // @include media-breakpoint-up(md) {
      @media (min-width: 768px) {
        margin-right: 80px;
    }
  }
  
  &.user-reply {
    background: #F0F0F0;
    
    // @include media-breakpoint-up(sm) {
    @media (min-width: 480px) {
      margin-left: 40px;
    }

    // @include media-breakpoint-up(md) {
    @media (min-width: 768px) {
      margin-left: 80px;
    }
  }
}

.ticket-owner {
  margin-bottom: 5px;
}
.opened {
  color: #4dbd74;
}
.closed {
  color: #f86c6b;
}

.reply-form-container {
  padding: 10px;
}

.post-submit-btn {
  min-width: 120px;
}
