<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-support"></i> <strong>Ticket Info</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-1">
              <strong>Ticket ID</strong>
              {{ticketDetails.ticket.id}}
            </div>
            <div class="col-md-3">
              <strong>Subject</strong>
              {{ticketDetails.ticket.subject}}
            </div>
            <div class="col-md-1">
              <strong>Status</strong>
              <span [ngClass]="(ticketDetails.ticket.status === 'Opened') ? 'opened' : 'closed'">
                <strong>{{ticketDetails.ticket.status}}</strong>
              </span>
            </div>
            <div class="col-md-3">
              <strong>Last Update</strong>
              {{ticketDetails.ticket.last_reply_date | dateFromUnix}}
            </div>
            <div class="col-md-2">
              <strong>Assigned To</strong>
              <confirm-select
                [items]="adminList"
                [selectedItemId]="selectedAdminId"
                [confirmMessage]="confirmMessage"
                (itemChange)="handleItemChange($event)"
              >
              </confirm-select>
            </div>
            <div class="col-md-2">
              <strong>Username</strong>
              {{ticketDetails.ticket.username}}<br>
              <strong>User ID</strong>
              {{ticketDetails.ticket.memid}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <i class=""></i> <strong>Ticket Replies</strong>
      <div class="pull-right">
        <button
          class="btn btn-sm btn-danger"
          [hidden]="ticketDetails.ticket.status !== 'Opened'"
          (click)="closeTicket()"
        >
          Close this ticket
        </button>
      </div>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let item of ticketDetails.data; let i = index"  >
            <div class="ticket-reply" [ngClass]="{'admin-reply': item.owner === 'admin', 'user-reply': item.owner === 'user'}">
            <div class="ticket-owner"><strong>{{item.owner}}</strong>
              <span class="ticket-date pull-right">{{item.date_made | dateFromUnix}}</span>
            </div>
            <p class="ticket-content" [innerHTML]="item.content | nl2br">
            </p>
            <!--<hr [hidden]="i === ticketDetails.data.length - 1" style="border-top: 1px dashed #E3E8EC" />-->
          </div>
          </div>
        </div>
      </div>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="pageChanged($event)"
      ></bcn-pagination>

      <div class="reply-form-container" [hidden]="ticketDetails.ticket.status !== 'Opened'">
        <div class="mb-1">
          <textarea
            class="form-control"
            rows="6"
            [(ngModel)]="replyContent"
            placeholder="Write post here..."
          ></textarea>
        </div>
        
        <button
          class="btn btn-primary post-submit-btn"
          type="button"
          (click)="submitReply(replyContent)"
        >
          Post
        </button>
      </div>
    </div>
  </div>
</div>
