<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-support"></i> Support Tickets
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <button
            type="button"
            class="filter-toggle-btn btn btn-outline-secondary btn-sm"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>
      </div>
    </div>

    <support-ticket-list-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="handleFilterChange($event)"
    ></support-ticket-list-filter>

    <div class="card-block">
      <div class="table-responsive">
        <table class="table">
          <app-spinner *ngIf="isTableLoading"></app-spinner>
          <thead>
            <tr>
              <th>Ticket ID</th>
              <th>Subject</th>
              <th>Status</th>
              <th>State</th>
              <th>Open Date</th>
              <!-- <th>Department</th> -->
            </tr>
          </thead>

          <tbody *ngIf="supportTickets">
            <tr *ngIf="supportTickets.data && !supportTickets.data.length" class="text-center">
              <td colspan="100%">No tickets found.</td>
            </tr>
            <tr *ngFor="let ticket of supportTickets.data">
              <td>{{ticket.id}}</td>
              <td>
                <a class="ticket-subject" [routerLink]="[ticket.id]">
                  {{ticket.subject}}
                </a>
              </td>
              <td>
                <span [ngClass]="(ticket.status === 'Opened') ? 'opened' : 'closed'">
                  <strong>{{ticket.status}}</strong>
                </span>
              </td>
              <td>{{ticket.state}}</td>
              <td>{{ticket.date_made | dateFromUnix}}</td>
              <!-- <td>{{ticket.deparment_name}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
