<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>
    </div>

    <div class="col-sm">
      <div class="form-group">
        <number-input
          placeholder="Member ID"
          formControlName="memid_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Promo number"
          formControlName="promo_nr_filter"
        />
      </div>
    </div>  
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
