<div class="row">
  <div class="col-lg-4">
    <div class="card card-accent-primary">
      <div class="card-header">
        <span class="icon icon-user"></span> <strong>Member</strong> Info
      </div>

      <div class="card-block">
        <div class="text-center">
          <h2>{{founder.member.fname}} {{founder.member.lname}}</h2>
          <div>
            <small class="text-uppercase text-muted mb-0">Username</small>
            <div>{{founder.member.username}}</div>
          </div>
          <div>
            <small class="text-uppercase text-muted mb-0">User ID</small>
            <div>{{founder.memid}}</div>
          </div>
          <div>
            <small class="text-uppercase text-muted mb-0">Email</small>
            <div><a href="mailto:{{founder.member.email}}">{{founder.member.email}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card card-accent-primary">
      <div class="card-header">
        <span class="icon icon-layers"></span> <strong>Pools</strong>
      </div>

      <div class="card-block">
        <div class="text-center">
          <div class="d-inline-block text-center mr-2">
            <h6>GPU</h6>
            <div>{{founder.gpu}}</div>
          </div>
          <div class="d-inline-block text-center">
            <h6>Pool #1</h6>
            <div>{{founder.pool1}}</div>
          </div>
          <div class="d-inline-block text-center mx-2">
            <h6>Pool #2</h6>
            <div>{{founder.pool2}}</div>
          </div>
          <div class="d-inline-block text-center">
            <h6>Pool #3</h6>
            <div>{{founder.pool3}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card card-accent-primary">
      <div class="card-header">
        <span class="icon icon-star"></span> <strong>Promotion</strong>
      </div>
      <div class="card-block">
        <div class="text-center">
          <h2>Number</h2>
          <h1>{{founder.promo_nr}}</h1>
        </div>
        <div>
          <strong>Promotion time:</strong> {{founder.promotion_time | dateFromUnix}}
        </div>
        <div>
          <strong>
            <a 
              [routerLink]="['../../invoices', '61']"
              title="View last invoice details"
            >
              Last invoice at:
            </a>
          </strong> {{founder.last_invoice_time | dateFromUnix}}
        </div>
      </div>
      <div class="card-footer">
        <i class="text-muted">Last updated {{founder.update_time | dateFromUnix}}</i>
      </div>
    </div>
  </div>
</div>