<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-people"></i> Founders
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <button
            type="button"
            class="filter-toggle-btn btn btn-outline-secondary btn-sm"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="filterHidden">Show filters</span>
            <span *ngIf="!filterHidden">Hide filters</span>
          </button>
        </div>
      </div>
    </div>

    <founders-filter
      *ngIf="!filterHidden"
      [value]="filterData"
      (valueChange)="filterChanged($event)"
    ></founders-filter>

    <div class="card-block px-2">
      <div class="table-responsive">
        <table class="table">
          <app-spinner *ngIf="isTableLoading"></app-spinner>
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Promotion Number</th>
              <th>Promotion Time</th>
              <th>GPU</th>
              <th>Pool #1</th>
              <th>Pool #2</th>
              <th>Pool #3</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="founders !== null">
            <tr *ngIf="!pagination.totalItems" class="text-center">
              <td colspan="100%">No records found.</td>
            </tr>
            <tr *ngFor="let founder of founders">
              <td>
                <div>{{founder.member.fname}} {{founder.member.lname}}</div>
                <div class="text-muted">({{founder.member.fname}})</div>
              </td>
              <td>{{founder.member.username}}
                <div class="text-muted">User ID: {{founder.memid}}</div>
              </td>
              <td>{{founder.member.email}}</td>
              <td>{{founder.promo_nr}}</td>
              <td>{{founder.promotion_time | dateFromUnix}}</td>
              <td>{{founder.gpu}}</td>
              <td>{{founder.pool1}}</td>
              <td>{{founder.pool2}}</td>
              <td>{{founder.pool3}}</td>
              <td>
                <div class="d-flex justify-content-end">
                  <div class="btn-group-sm">
                    <a
                      [routerLink]="['./', founder.memid]"
                      class="btn btn-sm btn-primary"
                      title="View invoice details"
                    >
                      <i class="icon-eye"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="pageChanged($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
