<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th class="list-table-expand-icon-col"></th>
        <th>Username</th>
        <th>Email</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Cycles</th>
        <th>Commission ID</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr class="expandable-table-row" (click)="toggleItemExpanded(item)">
          <td class="list-table-expand-icon-col">
            <span [ngClass]="isItemExpanded(item) ? 'icon-arrow-down' : 'icon-arrow-right'"></span>
          </td>
          <td>
            <a [routerLink]="['../members', item.memid]">{{item.username}}</a>
            <span *ngIf="item.fname || item.lname">({{(item.fname + ' ' + item.lname).trim()}}) (User ID: {{item.memid}})</span>
          </td>
          <td><a href="mailto:{{item.email}}">{{item.email}}</a></td>
          <td>{{item.started_on | dateFromUnix:'dateOnly'}}</td>
          <td>{{item.finished_on | dateFromUnix:'dateOnly'}}</td>
          <td>{{item.nr_cycles}}</td>
          <td><a *ngIf="item.commission_id" [routerLink]="['../wallets/btc']"  [queryParams]="{transaction_id:item.commission_id}">{{item.commission_id}}</a></td>
          <td>
            <a 
              [routerLink]="['../binary-credit-cycles', item.id]" 
              title="details" 
              class="btn btn-sm btn-primary"
            >
              <i class="icon icon-magnifier"></i>
            </a>
          </td>
        </tr>
  
        <tr *ngIf="isItemExpanded(item)">
          <td colspan="100">
            <div class="row">
              <div class="col-3">
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Credits (left)</dd>
                  <dt class="pl-2">{{item.credits_left}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Credits (right)</dd>
                  <dt class="pl-2">{{item.credits_right}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Blocked (left)</dd>
                  <dt class="pl-2">{{item.blocked_left}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Blocked (right)</dd>
                  <dt class="pl-2">{{item.blocked_right}}</dt>
                </div>
              </div>
  
              <div class="col-3">
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Expired on</dd>
                  <dt class="pl-2">{{item.expired_on | dateFromUnix:'dateOnly'}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Commission ID</dd>
                  <dt class="pl-2"><a *ngIf="item.commission_id" [routerLink]="['../wallets/btc']"  [queryParams]="{transaction_id:item.commission_id}">{{item.commission_id}}</a></dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Status</dd>
                  <dt class="pl-2">{{item.status}}</dt>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
