<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm">
      <div class="form-group">
        <input
        type="text"
        class="form-control"
        placeholder="Username"
        formControlName="username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email_filter"
        />
      </div>

      <div class="form-group">
        <number-input
          placeholder="Search by member ID"
          formControlName="memid_filter"
        ></number-input>
      </div>
    </div>

    <div class="col-sm">
      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>

      <div class="form-group">
        <number-input
          placeholder="Commission ID"
          formControlName="commission_filter"
        ></number-input>
      </div>
      
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="has_commission_id"> Include only records with a commission ID</label>
        </div>
      </div>
      
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
