<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Username</dd>
            <dt class="pl-2">
              <a [routerLink]="['/members', record.memid]">{{record.username}}</a>
              <span *ngIf="record.fname || record.lname">
                <br class="hidden-lg-up">({{(record.fname + ' ' + record.lname).trim()}})
                <br class="hidden-lg-up">(User ID: {{record.memid}})
              </span>
            </dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Email</dd>
            <dt class="pl-2">
              <a href="mailto:{{record.email}}">{{record.email}}</a>
            </dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Started</dd>
            <dt class="pl-2">{{record.started_on | dateFromUnix:'dateOnly'}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Finished</dd>
            <dt class="pl-2">{{record.finished_on | dateFromUnix:'dateOnly'}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Cycles</dd>
            <dt class="pl-2">{{record.nr_cycles}}</dt>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Credits (left)</dd>
            <dt class="pl-2">{{record.credits_left}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Credits (right)</dd>
            <dt class="pl-2">{{record.credits_right}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Blocked (left)</dd>
            <dt class="pl-2">{{record.blocked_left}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Blocked (right)</dd>
            <dt class="pl-2">{{record.blocked_right}}</dt>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Expired on</dd>
            <dt class="pl-2">{{record.expired_on | dateFromUnix:'dateOnly'}}</dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Commission ID</dd>
            <dt class="pl-2">
              <a 
                *ngIf="record.commission_id"
                [routerLink]="['/wallets/btc']"
                [queryParams]="{transaction_id:record.commission_id}"
              >
                {{record.commission_id}}
              </a>
            </dt>
          </div>
          <div class="d-flex justify-content-end">
            <dd class="mr-auto">Status</dd>
            <dt class="pl-2">{{record.status}}</dt>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-accent-info" *ngIf="record.commission_id">
    <div class="card-header">
      Commissions paid by this cycle
    </div>
    <div class="card-block px-2">
      <app-binary-credit-cycle-transaction
        [transactions]="transactions"
        [isLoading]="isFetchingTransactions"
        [memberId]="record.memid"
      ></app-binary-credit-cycle-transaction>

      <bcn-pagination
        *ngIf="transactionsPagination.totalItems > transactionsPagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="transactionsPagination.totalItems"
        [page]="transactionsPagination.currentPage"
        [pageSize]="transactionsPagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>