<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngIf="!admins || !admins.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let admin of admins">
        <td>
          {{admin.username}}
        </td>
        <td>{{admin.fname}} {{admin.lname}}</td>
        <td>{{admin.email}}</td>
        <td>
          <span *ngFor="let group of admin.groups">{{group.group_name}} </span>
        </td>
        <td>
          <div class="btn-group-sm float-right">
            <button role="button" class="btn btn-sm btn-danger" title="Delete" (click)="handleItemDeleteClick(admin.id)">
              <i class="icon icon-trash"></i>
            </button>
            <a [routerLink]="['./', admin.id, 'edit']" title="Edit" class="btn btn-sm btn-secondary">
              <i class="icon icon-note"></i>
            </a>
            <a [routerLink]="['./', admin.id]" title="Details" class="btn btn-sm btn-primary">
              <i class="icon icon-magnifier"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
