<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-md">
      <div class="form-group">
        <number-input
          placeholder="Admin ID"
          formControlName="id_filter"
        ></number-input>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <select class="form-control" formControlName="method_filter">
          <option
            *ngFor="let methodOption of methodOptionList" 
            [value]="methodOption.value"
          >
            {{methodOption.label}}
          </option>
        </select>
      </div>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Endpoint"
          formControlName="endpoint_filter"
        />
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>
  
  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
