<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <thead>
      <tr>
        <th class="list-table-expand-icon-col"></th>
        <th>Admin Username</th>
        <th>HTTP Method</th>
        <th>Status</th>
        <th>Endpoint</th>
        <th>Is Error</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngIf="!items || !items.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <ng-container *ngFor="let item of items">
        <tr class="expandable-table-row" (click)="toggleItemExpanded(item)">
          <td class="list-table-expand-icon-col">
            <span [ngClass]="isItemExpanded(item) ? 'icon-arrow-down' : 'icon-arrow-right'"></span>
          </td>
          <td>{{item.username}}</td>
          <td>{{item.method}}</td>
          <td>{{item.status_code}}</td>
          <td>{{item.api_endpoint}}</td>
          <td>
            <span class="icon-check" *ngIf="item.is_error"></span>
            <span *ngIf="!item.is_error">No</span>
          </td>
          <td>{{item.time}}</td>
          <td>{{item.date_made | dateFromUnix}}</td>
        </tr>
        
        <tr *ngIf="isItemExpanded(item)">
          <td colspan="100">
            <div class="row tr-quick-info">
              <div class="col-3">
                <label _ngcontent-c5="">Main:</label>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">ID: </dd>
                  <dt class="pl-2">{{item.id}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Admin ID: </dd>
                  <dt class="pl-2">{{item.memid}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Admin Username: </dd>
                  <dt class="pl-2">{{item.username}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Date Made: </dd>
                  <dt class="pl-2">{{item.date_made | dateFromUnix}}</dt>
                </div>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Memory: </dd>
                  <dt class="pl-2">{{item.memory}}</dt>
                </div>
  
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Time: </dd>
                  <dt class="pl-2">{{item.time}}</dt>
                </div>
              </div>
              
              <div class="col-3">
                <label _ngcontent-c5="">Request:</label>
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">HTTP method: </dd>
                  <dt class="pl-2">{{item.method}}</dt>
                </div>
  
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Endpoint: </dd>
                  <dt class="pl-2">{{item.api_endpoint}}</dt>
                </div>
  
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Status: </dd>
                  <dt class="pl-2">{{item.status_code}}</dt>
                </div>
  
                <div class="d-flex justify-content-end">
                  <dd class="mr-auto">Is Error: </dd>
                  <dt class="pl-2">
                    <span *ngIf="item.is_error">Yes</span>
                    <span *ngIf="!item.is_error">No</span>
                  
                  </dt>
                </div>
              </div>
  
              <div *ngIf="item.post_vars != '[]'" class="col-3">
                <label _ngcontent-c5="">Post Values:</label>
                <div *ngFor="let postVar of decodeVars(item.post_vars)" class="d-flex justify-content-end">
                  <dd class="mr-auto">{{postVar.key}}: </dd>
                  <dt class="pl-2">{{postVar.val}}</dt>
                </div>
              </div>
  
              <div *ngIf="item.get_vars != '[]'" class="col-3">
                <label _ngcontent-c5="">Get Values:</label>
                <div *ngFor="let getVar of decodeVars(item.get_vars)" class="d-flex justify-content-end">
                  <dd class="mr-auto">{{getVar.key}}: </dd>
                  <dt class="pl-2">{{getVar.val}}</dt>
                </div>
              </div>
            </div>
            
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
