.list-table-expand-icon-col {
  width: 40px;
}

td.list-table-expand-icon-col {
  cursor: pointer;
}

// TODO: Make generic and move to a generic stylesheet instead
.expandable-table-row {
  cursor: pointer;
}

.tr-quick-info {
  margin: 0 20px;
  padding-bottom: 15px;
  label {
    font-size: 12px;
    font-weight: bold;
    color: #888;
  }
}

.tr-quick-info .d-flex {
  margin-bottom: 5px;
  border-bottom: solid 1px #F0F0F0;
}