<form name="_form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <header class="modal-header">
      <div class="text-left">
        <i class="icon icon-lock"></i> <strong>Change</strong> Password
      </div>
    </header>
  
    <div class="modal-body">
      <bcn-form-error [errorMessages]="formErrors._form"></bcn-form-error>
  
      <bcn-form-group [errorMessages]="formErrors.password">
          <label class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter Password..."
            />
      
            <bcn-field-error
              [errorMessages]="formErrors.password"
            >
            </bcn-field-error>
          </div>
        </bcn-form-group>
        
        <bcn-form-group [errorMessages]="formErrors.password_confirmation">
          <label class="col-sm-4 col-form-label">Confirm Password</label>
          <div class="col-sm-8">
            <input
              type="password"
              class="form-control"
              formControlName="password_confirmation"
              placeholder="Repeat Password..."
            />
      
            <bcn-field-error
              [errorMessages]="formErrors.password_confirmation"
            >
            </bcn-field-error>
          </div>
        </bcn-form-group>
    </div>
  
    <div class="modal-footer">
      <div class="text-left">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!form.valid || !form.dirty"
        >Save</button>
  
        <button
          type="button"
          class="btn btn-link"
          (click)="cancel()"
        >Cancel</button>
      </div>
    </div>
  </form>
  