<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <div class="no-content">
        <div class="no-content__icon">
          <span class="icon-speedometer"></span>
        </div>

        <div class="no-content__msg">
          The <strong>Dashboard</strong> content will be here
        </div>

        <div class="no-content__note">
          This section is under construction currently. Hang tight!
        </div>
      </div>
    </div>
  </div>
</div>
