<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="card"
          [ngClass]="{
            'card-accent-success': data.status_data === 'Paid',
            'card-accent-warning': data.status_data === 'Paying',
            'card-accent-danger': data.status_data === 'Not paid'
          }"
        >
          <div class="card-header">
            <strong class="text-uppercase">{{currency}}</strong> Earning Record Details
            <div class="float-right">
              <h6 class="d-inline-block">Status:</h6>
              <span
                class="badge"
                [ngClass]="{
                  'badge-success': data.status_data === 'Paid',
                  'badge-warning': data.status_data === 'Paying',
                  'badge-danger': data.status_data === 'Not paid'
                }"
              >
                {{data.status_data}}
              </span>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-4">
                <dl>
                  <dt>
                    <h6>Date</h6>
                  </dt>
                  <dd class="pl-1">{{data.timestamp | dateFromUnix:'dateOnly'}}</dd>
                  <br>

                  <dt>
                    <h6>Pay Amount</h6>
                  </dt>
                  <dd class="pl-1">
                    <strong>Mine 1:</strong> {{data.pay_mine1}} <span class="text-uppercase">{{currency}}</span>
                  </dd>
                  <dd class="pl-1">
                    <strong>Mine 2:</strong> {{data.pay_mine2}} <span class="text-uppercase">{{currency}}</span>
                  </dd>
                  <dd class="pl-1">
                    <strong>Mine 3:</strong> {{data.pay_mine3}} <span class="text-uppercase">{{currency}}</span>
                  </dd>
                  <br>

                  <dt>
                    <h6>Cron Job</h6>
                  </dt>
                  <dd class="pl-1">
                    <div>
                      <strong>Start:</strong> {{(data.cron_start | dateFromUnix) || 'N/A'}}
                    </div>
                    <div>
                      <strong>End:</strong> {{(data.cron_end | dateFromUnix) || 'N/A'}}
                    </div>
                  </dd>
                  <br>

                  <dt>
                    <h6>Memory</h6>
                  </dt>
                  <dd class="pl-1">
                    <div>
                      <strong>Peak:</strong> {{data.memory_peak || 'N/A'}}
                    </div>
                    <div>
                      <strong>Data:</strong> {{data.memory_data || 'N/A'}}
                    </div>
                    <div>
                      <strong>Runtime:</strong> {{data.runtime_data || 'N/A'}}
                    </div>
                  </dd>
                </dl>
              </div>

              <div class="col-md-4">
                <dt>
                  <h6>Action Data</h6>
                </dt>
                <dd class="pl-1">
                  <div>
                    <strong>Paid Total:</strong> {{data?.action_data?.total_paid || 'N/A'}}
                    <span *ngIf="data?.action_data?.total_paid" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Wallet Total:</strong> {{data?.action_data?.total_wallet || 'N/A'}}
                    <span *ngIf="data?.action_data?.total_wallet" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Reinvested Total:</strong> {{data?.action_data?.total_reinvested || 'N/A'}}
                    <span *ngIf="data?.action_data?.total_reinvested" class="text-uppercase">{{currency}}</span>
                  </div>
                </dd>
                <br>

                <dt>
                  <h6>Mines Wallet</h6>
                </dt>
                <dd class="pl-1">
                  <div>
                    <strong>Mine 1:</strong> {{data?.action_data?.mines_wallet?.mine1 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_wallet?.mine1" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Mine 2:</strong> {{data?.action_data?.mines_wallet?.mine2 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_wallet?.mine2" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Mine 3:</strong> {{data?.action_data?.mines_wallet?.mine3 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_wallet?.mine3" class="text-uppercase">{{currency}}</span>
                  </div>
                </dd>
                <br>
                
                <dt>
                  <h6>Mines Reinvestment</h6>
                </dt>
                <dd class="pl-1">
                  <div>
                    <strong>Mine 1:</strong> {{data?.action_data?.mines_reinvestment?.mine1 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_reinvestment?.mine1" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Mine 2:</strong> {{data?.action_data?.mines_reinvestment?.mine2 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_reinvestment?.mine2" class="text-uppercase">{{currency}}</span>
                  </div>
                  <div>
                    <strong>Mine 3:</strong> {{data?.action_data?.mines_reinvestment?.mine3 || 'N/A'}}
                    <span *ngIf="data?.action_data?.mines_reinvestment?.mine3" class="text-uppercase">{{currency}}</span>
                  </div>
                </dd>
              </div>

              <div class="col-md-4">
                <h6>Result</h6>
                <pre *ngIf="data.result">
                  <code>{{data.result}}</code>
                </pre>
                <span *ngIf="!data.result">N/A</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>