<div class="animated fadeIn">
    <div class="card">
      <div class="card-block px-2">
        <h4 class="page-heading mb-0">
          {{isEdit ? 'Update' : 'Add'}} <span class="text-uppercase">{{currency}}</span> payment record
        </h4>
  
        <hr class="mb-2">

        <earning-form
          [currency]="currency"
          [formData]="formData"
          [isEdit]="isEdit"
          (formSuccess)="handleFormSuccess($event)"
          (formCancel)="handleFormCancel()"
        ></earning-form>
      </div>
    </div>
  </div>
  