<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm-6 col-md">
      <div class="form-group text-uppercase">Sender</div>

      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="sender_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="sender_username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="sender_email_filter"
        />
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group text-uppercase">Receiver</div>

      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="receiver_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="receiver_username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="receiver_email_filter"
        />
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group text-uppercase">Involved member</div>

      <div class="form-group">
        <number-input
          placeholder="ID"
          formControlName="involved_member_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="involved_username_filter"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="involved_email_filter"
        />
      </div>
    </div>

    <div class="col-sm-6 col-md">
      <div class="form-group text-uppercase">Misc</div>

      <div class="form-group">
        <number-input
          placeholder="Transaction ID"
          formControlName="transaction_id_filter"
        ></number-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>

      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="used_for_filter"
        >
          <option
            *ngFor="let typeOption of transactionTypeOptionList"
            [value]="typeOption.type_id"
          >{{typeOption.type_default_label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
