<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-credit-card"></i>
            <span class="text-uppercase">{{currency}}</span>
            Wallets
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <button
            type="button"
            class="filter-toggle-btn btn btn-outline-secondary btn-sm"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>
      </div>
    </div>

    <transactions-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="handleFilterChange($event)"
    ></transactions-filter>

    <div class="card-block px-2">
      <div class="table-responsive">
        <table class="table">
          <app-spinner *ngIf="isTableLoading"></app-spinner>
          <thead>
            <tr>
              <th></th>
              <th>Type</th>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody *ngIf="transactions !== null">
            <tr *ngIf="!pagination.totalItems" class="text-center">
              <td colspan="100%">No records found.</td>
            </tr>
            <ng-container *ngFor="let transaction of transactions">
              <tr class="tr-row" [ngClass]="{'tr-row-expanded': transaction.expanded}" (click)="toggle(transaction)">
                <td><i class="fa" [ngClass]="transaction.expanded ? 'icon-arrow-down' : 'icon-arrow-right'"></i></td>
                <td>
                  <div [ngSwitch]="determineTransactionType(transaction.sender.id, transaction.receiver.id)">
                    <span *ngSwitchCase="'Neutral'" class="badge badge-default">
                      NEUTRAL
                    </span>
                    <span *ngSwitchCase="'Credit'" class="badge badge-success">
                      CREDIT
                    </span>
                    <span *ngSwitchCase="'Debit'" class="badge badge-danger">
                      DEBIT
                    </span>
                  </div>
                </td>
                <td>{{transaction.sender.username}}<br>User ID: {{transaction.sender.id}}</td>
                <td>{{transaction.receiver.username}}<br>User ID: {{transaction.receiver.id}}</td>
                <td><strong>{{transaction.amount}}</strong> <span class="text-uppercase">{{currency}}</span> <span *ngIf="transaction.amount_usd">(${{transaction.amount_usd}})</span>                    </td>
                <td>{{transaction.status}}</td>
                <td>{{(transaction.created_on || transaction.date_made) | dateFromUnix}}</td>
              </tr>
              <tr *ngIf="transaction.expanded">
                <td class="transaction-detail" colspan="100%">
                  <div class="row tr-quick-info">
                    <div class="col-md-4 col-lg-3">
                      <div class="tr-attr">
                        <label>From:</label>
                        <div>
                          <strong>{{transaction.sender.username}}</strong><br/> {{transaction.sender.fname}} {{transaction.sender.lname}}
                        </div>
                        <div>
                          User ID: {{transaction.sender.id}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <div class="tr-attr">
                        <label>To:</label>
                        <div>
                          <strong>{{transaction.receiver.username}}</strong><br/> {{transaction.receiver.fname}} {{transaction.receiver.lname}}
                        </div>
                        <div>
                          User ID: {{transaction.receiver.id}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <div class="transaction-attr">
                        <label>Amount:</label>
                        <div>
                          <div class="tr-amount">{{transaction.amount}} <span>{{currency}}</span></div>
                          <div class="tr-amount-usd">${{transaction.amount_usd}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row tr-detail">
                    <div class="col-sm-6">
                      <div class="tr-attr" *ngIf="transaction.id">
                        <label>Transaction ID:</label>
                        <span>{{transaction.id}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.status">
                        <label>Status:</label>
                        <span>{{transaction.status}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.type">
                        <label>Type:</label>
                        <span>{{transaction.type}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.exchange_rate">
                        <label>Exchange Rate:</label>
                        <span>{{transaction.exchange_rate}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.notes">
                        <label>Notes:</label>
                        <span>{{transaction.notes}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.info">
                        <label>Info:</label>
                        <span>{{transaction.info}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.other_info">
                        <label>Others:</label>
                        <span>{{transaction.other_info}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.refunded">
                        <label>Refunded:</label>
                        <span>{{transaction.refunded}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.giveaway">
                        <label>Giveaway:</label>
                        <span>{{transaction.giveaway}}</span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="tr-attr" *ngIf="transaction.used_for">
                        <label>Used For:</label>
                        <span>{{transaction.used_for}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.created_by">
                        <label>Created By:</label>
                        <span>{{transaction.created_by}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.date_made">
                        <label>Date Made:</label>
                        <span>{{transaction.date_made | dateFromUnix}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.created_on">
                        <label>Created On:</label>
                        <span>{{transaction.created_on | dateFromUnix}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.giveaway">
                        <label>Giveaway:</label>
                        <span>{{transaction.giveaway}}</span>
                      </div>
                      <div class="tr-attr" *ngIf="transaction.refunded">
                        <label>Refunded:</label>
                        <span>{{transaction.refunded}}</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
    </div>
  </div>
</div>
