.tr-quick-info {
  margin: 0 20px;
  border-bottom: solid 1px #F0F0F0;
  padding-bottom: 15px;
  label {
    font-size: 12px;
    font-weight: bold;
    color: #888;
  }
  .tr-amount {
    font-size: 24px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  .tr-amount-usd {
    color: #aaa;
  }
}
.tr-detail {
  margin: 0 20px;
  padding-top: 10px;
  label {
    font-weight: bold;
  }
}
.tr-row:hover td, .tr-row-expanded {
  cursor: pointer;
  //color: #ffffff;
}
.tr-row:hover td {
  background-color: #F0F0F0;
  opacity: 0.8;
}
.tr-row-expanded {
  background-color: #EEE;
}

.filter-toggle-btn {
  min-width: 115px;
}
