<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2 pb-0">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">
            <i class="page-heading__icon icon-share"></i> Binary Credit Flow
          </h4>
        </div>

        <div class="col-sm-6 d-flex justify-content-sm-end">
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            (click)="toggleFilter()"
          >
            <span class="icon-list"></span>
            <span *ngIf="!filterShown">Show filters</span>
            <span *ngIf="filterShown">Hide filters</span>
          </button>
        </div>
      </div>
    </div>

    <binary-credit-flow-list-filter
      *ngIf="filterShown"
      [value]="filterData"
      (valueChange)="handleFilterChange($event)"
    ></binary-credit-flow-list-filter>
    
    <div class="card-block px-2">
      <h5 class="total-credits" *ngIf="totalCredits != null">Total amount of all credits in filtered results: {{totalCredits}}</h5>
      
      <binary-credit-flow-list
        [isLoading]="isTableLoading"
        [items]="binaryCreditFlowList.data"
      ></binary-credit-flow-list>
      
      <bcn-pagination
        *ngIf="pagination.totalItems > pagination.itemPerPage"
        [maxSize]="5"
        [boundaryLinks]="true"
        [rotate]="true"
        [collectionSize]="pagination.totalItems"
        [page]="pagination.currentPage"
        [pageSize]="pagination.itemPerPage"
        (pageChange)="handlePageChange($event)"
      ></bcn-pagination>
      
    </div>
  </div>
</div>

