<div class="table-responsive">
  <table class="table">
    <app-spinner *ngIf="isLoading"></app-spinner>

    <thead>
      <tr>
        <th>Date</th>
        <th>Pay Amount (Mine 1)</th>
        <th>Pay Amount (Mine 2)</th>
        <th>Pay Amount (Mine 3)</th>
        <th>Cron Start</th>
        <th>Cron End</th>
        <th>Memory Peak</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!earnings || !earnings.length" class="text-center">
        <td colspan="100%">No records found.</td>
      </tr>
      <tr *ngFor="let earning of earnings">
        <td>{{earning.timestamp | dateFromUnix:'dateOnly'}}</td>
        <td>{{earning.pay_mine1}}</td>
        <td>{{earning.pay_mine2}}</td>
        <td>{{earning.pay_mine3}}</td>
        <td>{{(earning.cron_start | dateFromUnix) || 'N/A'}}</td>
        <td>{{(earning.cron_end | dateFromUnix) || 'N/A'}}</td>
        <td>{{earning.memory_peak || 'N/A'}}</td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-success': earning.status_data === 'Paid',
              'badge-warning': earning.status_data === 'Paying',
              'badge-danger': earning.status_data === 'Not paid'
            }"
          >
            {{earning.status_data}}
          </span>
        </td>
        <td>
          <div class="btn-group-sm float-right">
            <button role="button" class="btn btn-sm btn-danger" title="Delete" (click)="handleItemDeleteClick(earning.id)">
              <i class="icon icon-trash"></i>
            </button>
            <a [routerLink]="['./', earning.id, 'edit']" title="Edit" class="btn btn-sm btn-secondary">
              <i class="icon icon-note"></i>
            </a>
            <a [routerLink]="['./', earning.id]" title="Details" class="btn btn-sm btn-primary">
              <i class="icon icon-magnifier"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
