<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="row p-2">
    <div class="col-sm">
      <div class="form-group">
        <date-input
          formControlName="date_from_filter"
          placeholder="From date"
        ></date-input>
      </div>
    </div>

    <div class="col-sm">
      <div class="form-group">
        <date-input
          formControlName="date_to_filter"
          placeholder="To date"
        ></date-input>
      </div>
    </div>
  </div>
  
  <div class="list-filter-actions">
    <button
      type="submit"
      class="btn btn-primary"
    ><i class="icon icon-refresh"></i> Refresh list</button>
  </div>
</form>
