@import './scss/style';

.modal-backdrop {
  pointer-events:  none;
  display: none;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
}
.modal-dialog {
}


.ui-datatable table {
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.ui-datatable .ui-datatable-thead>tr>th {
  border: none;
  border-bottom: 2px solid #E3E8EC;
  border-top: 1px solid #E3E8EC;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  line-height: 1.5;
  border: none;
  padding: 0.75rem;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #E3E8EC;
}
.ui-chkbox .ui-chkbox-box {
  border: solid 1px #E3E8EC;
}
.ui-state-active {
  background: #F0F0F0!important;
  color: #444D58!important;
}
.ui-paginator-element {
  padding: 0.5rem 0.75rem!important;

  margin: 0 0 0 -1px!important;
}
.ui-paginator-page {
  border: 1px solid #ddd;
  &.ui-state-active {
    color: #FFF!important;
    background: #20a8d8!important;
    border-color: #20a8d8!important;
  }
  &:hover {
    background: #E3E8EC;
  }
}
.ui-paginator-prev, ui-paginator-first, ui-paginator-next, ui-paginator-last {
  boder: none!important;
}

.slim-loading-bar-progress {
  z-index: 99998;
  box-shadow: 0 0 10px 0;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
