// Here you can add other styles
.ui-state-hover {
  background-color: #20a8d8;
  border-color: #20a8d8;
  color: #ffffff;
}

.ui-state-active {
  background-color: #1985ac;
  border-color: #187fa3;
  color: #ffffff;
}

// TEMP HACKERY

// (TEMP, tabs should be normally refactored to use ng-bootstrap tabs instead)
.member-transactions-tabset {
  .tab-content .tab-pane {
    padding-left: 0;
    padding-right: 0;
  }
}

// Pagination fixes

.pagination {
  flex-wrap: wrap;
}
