// Custom pagination styles

// Note: TWBS responsive value
@media (max-width: 40.063em) {
  .pagination-mobile {
    flex-wrap: nowrap;

    .prev-page-item,
    .next-page-item {
      flex: 1;
      
      .page-link {
        text-align: center;
      }
    }
  }
}