<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="page-heading mb-0">My account</h4>
          <div class="small text-muted">Overview of your account data</div>
        </div>

        <div class="col-sm-6 d-flex align-items-start justify-content-sm-end">
          <a [routerLink]="['edit']" class="btn btn-sm btn-outline-secondary">
            <i class="icon-pencil"></i> Edit
          </a>
        </div>
      </div>

      <hr class="mb-2">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <div class="form-control-static">
            {{accountData.username}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <div class="form-control-static">
            <a [href]="'mailto:' + accountData.email">
              {{accountData.email}}
            </a>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
          <div class="form-control-static">
            {{accountData.fname}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
          <div class="form-control-static">
            {{accountData.lname}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<login-attempts-screen></login-attempts-screen>