<div class="animated fadeIn">
  <div class="card">
    <div class="card-block px-2">
      <h4 class="page-heading mb-0">Editing Account</h4>

      <hr class="mb-2">

      <account-form
        [formData]="accountData"
        (formSuccess)="handleFormSuccess($event)"
        (formCancel)="handleFormCancel()"
      ></account-form>
    </div>
  </div>
</div>
