<ul class="nav navbar-nav">
  <li class="nav-item dropdown" dropdown placement="bottom right">
    <a dropdownToggle class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="avatar-placeholder-icon">
        <span class="icon-user"></span>
      </span>
      <span class="hidden-md-down">{{isFetching ? 'Loading...' : accountData?.username}}</span>
    </a>

    <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
      <div class="dropdown-header text-center"><strong>Account</strong></div>

      <a class="dropdown-item" [routerLink]="['/account']"><i class="icon-settings"></i> My Account</a>
      <a class="dropdown-item" [routerLink]="['/account/security']"><i class="icon-lock"></i> Security</a>
      <a class="dropdown-item" [routerLink]="['/logout']"><i class="icon-logout"></i> Logout</a>
    </div>
  </li>
</ul>
