<app-header></app-header>

<div class="app-body">
  <div class="sidebar">
    <app-sidebar-nav></app-sidebar-nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <breadcrumbs></breadcrumbs>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  Open the <a href="#" target="_blank">main webapp</a> in a new tab
</footer>
