<ng2-slim-loading-bar
  [color]="'#20a8d8'"
  [height]="'2px'">
</ng2-slim-loading-bar>
<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="/">
    <strong>BCN</strong> ADMIN
  </a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <div class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</div>
    </li>
    <!-- <li class="nav-item px-1">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="#">Settings</a>
    </li> -->
  </ul>

  <div class="d-flex align-items-center ml-auto mr-1">
    <app-header-account-block></app-header-account-block>
  </div>
</header>
